[2020-05-06 13:40] SevKohler commented on #6
Fixed by deleting jitpack dependency in pom.xml and building the ehrbase_client_libary (please add this to the requirements for building)

[2020-08-31 11:22] BirgitSaalfeld commented on #14
# Precondition
Call of http://localhost:8080/ehrbase/swagger-ui.html results in a valid website

# System specifications
Ubuntu 18.04.4 LTS
Memory 15,5 GiB
Processor Intel® Core™ i7-8650U CPU @ 1.90GHz × 8

# Testrun
Today run "FhirBridgeApplicationIT" in IntelliJ results in

Test passed: 18 of 18 tests

[2020-08-31 11:26] BirgitSaalfeld commented on #14
I am going to report here, if any of those tests fails again.

[2020-08-31 11:38] BirgitSaalfeld commented on #14
Could reproduce the error in my feature branch, see commit 32ad4eb

It seems, that side effects of my unfinished mapping result in two failing tests:
- createObservationUsinDefaultProfile()
[code]
- createObsercationUsingUnsupportedProfile()
[code]

[2020-09-03 16:16] ppazos commented on #14
@BirgitSaalfeld since those fails are because WIP, should we close this issue?

[2020-09-04 08:49] BirgitSaalfeld commented on #14
Yes

[2020-09-07 09:19] MDSchulze opened #17 "Error HTTP422 when running the FhirBridgeApplicationIT in Mapping BodyHeight"
I did my mapping with the RespRate in a branch. f8d468c37a5226ed6c3745c6ac18054e00d11f8e

When I try to run the test "createRespRate" I receive following message:

ca.uhn.fhir.rest.server.exceptions.InvalidRequestException: HTTP 400 : Invalid request: The FHIR endpoint on this server does not know how to handle POST operation[StructureDefinition] with parameters [[]]
	at java.base/jdk.internal.ref

[2020-09-07 16:32] ppazos commented on #17
@MDSchulze

- the link to the branch is https://github.com/ehrbase/fhir-bridge/compare/feature/08_mapping-resp-rate

- the resource type is not an Observation, is a StructureDefinition https://github.com/ehrbase/fhir-bridge/compare/feature/08_mapping-resp-rate#diff-4a46d44ce942cf1ff0f29beee03838a2R2

- there is no provider for StructeDefinition

[2020-09-07 16:44] ppazos commented on #16
@BirgitSaalfeld

- the link to the branch is https://github.com/ehrbase/fhir-bridge/compare/feature/num10_mapping-body-height

- the profile doesn't seem to be loaded: Profile http://hl7.org/fhir/StructureDefinition/vitalsigns is not supported for Observation

- the error is captured by the client here https://github.com/ehrbase/fhir-bridge/compare/feature/num10_mapping-body-height#diff-11fd6d8057

[2020-09-07 18:57] birgerhaarbrandt commented on #16
This might be as well related to using the dif of the profile and not the snapshot that would also contain information about the basis resource. Please go to the simplifier project and download the profile XMK again as snapshot

[2020-09-08 10:35] jsachau opened #19 "Error HTTP 422 when running createBloodPressure test"
The test runs fine on my local machine. However, when tested in circleci the test fails with the following exception:

[code]

I have already replaced the .xml with the snapshot from simplifier.

The branch can be found [here](https://github.com/ehrbase/fhir-bridge/tree/feature/2_blood_pressure_mapping)
The circleci test results can be found [here](https://app.circleci.com/pipelines/github/ehrbase

[2020-09-08 12:24] wlad commented on #19
Please sync w/ develop branch after PR #18 was merged. Also be aware of the test file/class renaming so that your test does not get lost.

Increasing setSocketTimeout in the test (FhirBridgeApplicationTestIT.java on your branch) is what may help imediatly. It was at 60 previously.
[code]

[2020-09-08 15:29] ppazos commented on #19
@jsachau please check my response to this issue, I think it's the same: https://github.com/ehrbase/fhir-bridge/issues/16

[2020-09-08 19:47] BirgitSaalfeld commented on #16
@birgerhaarbrandt At the moment I use the xml-document I get from this site: https://simplifier.net/ForschungsnetzCovid-19/BodyHeight/~xml This seems to be only the diff. Where can I find the full definition/declaration/xml-file?

[2020-09-08 19:50] BirgitSaalfeld commented on #16
Thanks for the hints. How can I check ProfileUtils? I think you didn't meant adding it in the Use-Case-Test!?

[2020-09-08 20:17] ppazos commented on #16
@BirgitSaalfeld I meant to debug what happens in the code of https://github.com/ehrbase/fhir-bridge/blob/develop/src/main/java/org/ehrbase/fhirbridge/fhir/ProfileUtils.java#L30

You can try to run it in debug mode from the IDE and add a couple of breakpoints to see what are the loaded profiles. I'll try to test it on my environment.

[2020-09-09 14:13] jsachau commented on #19
@wlad increasing the socket timeout fixed the error. Thanks!

[2020-09-09 14:13] #19 closed

[2020-09-09 19:00] ppazos commented on #16
@BirgitSaalfeld in the code, the profiles should be loaded from the resources/profiles folder by this piece of code:

https://github.com/ehrbase/fhir-bridge/blob/develop/src/main/java/org/ehrbase/fhirbridge/config/FhirConfiguration.java#L142-L152

Can you check when you run the code if this exception appears somewhere:

` throw new FhirBridgeException("Profiles initialization failed", e);`

That w

[2020-09-09 19:06] ppazos commented on #16
@BirgitSaalfeld also I found this error: in the resource you are using for bodyheight-example.json the profile is:

[code]

It should be the body height profile.

[2020-09-09 19:41] ppazos opened #20 "Creating conditions from insomnia was failing"
There was an issue mapping the composer, and it was because the request from insomnia didn't contain the recorder.

The issue was recorded here https://youtu.be/kaUVyoTG7jA

[2020-09-09 19:44] ppazos commented on #20
Done.

[2020-09-09 19:44] #20 closed

[2020-09-10 05:49] BirgitSaalfeld commented on #16
@ppazos  In fact, that sounds weird. I got my json-example from here: http://hl7.org/fhir/R4/observation-example-body-height.xml.html And there is the vitalsigns-entry in the profile. I think it is an error in the resource. That's why I manually changed the entry to 'bodyheight'.
[code]

This error is fixed. Thank you. =D But now I get another error:
[code]

[2020-09-10 05:54] ppazos commented on #16
@BirgitSaalfeld don't trust the sources :)

the error message is signaling in ehrbase there is no EHR for the patient in the FHIR resource. Get using the rest API of ehrbase to create one pointing to the subjectId in the resource.

I uploaded a video, shared on the plri slack about how to do that.

[2020-09-10 18:11] ppazos commented on #16
@BirgitSaalfeld I think the original issue was solved, can we close the issue?

[2020-09-10 18:12] ppazos commented on #17
@MDSchulze any updates?

[2020-09-10 19:21] BirgitSaalfeld commented on #16
Yes, but what is your preferred way? I saw, you moved it to "Ready for Review". Can I be your reviewer? Am I allowed to move it directly to "done"? Does it move to "done" automatically when I close it?

[2020-09-10 19:24] BirgitSaalfeld commented on #16
I am still working through your videos. Thank you for this support. There is so much information in the videos and, as you know for sure, I am a newby in FHIR and openEHR and have much to lean ;) Hopefully I get soon to the corresponding video passage.

[2020-09-10 19:41] ppazos commented on #16
@BirgitSaalfeld if you give me the ok, I can close it :)

[2020-09-10 19:51] BirgitSaalfeld commented on #16
@ppazos You can close it, but I want to understand the process better, since I am going to work in this process at least until end of march. Who can answer my questions from the last post, since they are a mix of github and project specific concerns.

[2020-09-11 00:02] ppazos commented on #16
@BirgitSaalfeld in terms of reviewing tickets to close, that is more related to when the assignee needs to do a task. This ticket was really to assist you with a problem, even though I tested and debugged your branch to find the issues, I do not have an outcome to be reviewed. So the acceptance criteria was really that the initial issue reported by you was solved with the support I gave.

In case

[2020-09-14 23:21] ppazos opened #23 "FHIR bridge: problem with procedure profile"
BLOCKS: ehrbase/project_management#363

Profile: https://simplifier.net/medizininformatikinitiative-modulprozeduren/prozedur

The exception:

`ca.uhn.fhir.rest.server.exceptions.UnprocessableEntityException: HTTP 422 : Unsupported fixed pattern type for discriminator(system) for slice Procedure.category.coding:sct: org.hl7.fhir.r5.model.UriType`

Note: it is strange it is complaining about a type

[2020-09-17 11:33] subigre commented on #23
I fixed the issue and pushed the changes in the branch.

I updated the Prozedur profile and changed patternUri to fixedUri for:
- Procedure.category.coding:sct.system
- Procedure.code.coding:obs.system
- Procedure.code.coding:sct.system

HAPI FHIR only supports fixed value for primitive type.
_"Mostly used for fixing values of CodeableConcept. In general, pattern[x] is not intended for use with pr

[2020-09-17 11:34] #23 closed

[2020-09-20 20:01] jsachau opened #26 "SOFA Score Template "Unknown Template Error""
## Steps to reproduce ##

I have finished the mapping for the SOFA score (see [branch](https://github.com/ehrbase/fhir-bridge/tree/feature/42_mapping_sofa_score)). Afterwards I have added the .opt template file to my ehrbase endpoint. I double checked and retrieved the following template list (SOFA score was added successfully)

[code]

## Actual result ##

When executing my test case I get the fo

[2020-09-20 21:41] birgerhaarbrandt commented on #26
Hi @jsachau,

it looks like the template_ID provided at OperationalTemplateData is not the same that is used in the template. When I copied the one from within the template and added in the enum, it worked (at least I got a step further and ran into a different issue raised by the EHRbase backend).

hth

[2020-09-20 22:29] birgerhaarbrandt commented on #26
I found the second error and now I get a passing unit test. Please change the DvOrdinals in the FhirObservationSofaScoreOpeneehrSofa.java using the following schema:

[code]

Otherwise, Archie will automatically set the terminology ID to "UNKNOWN" instead of local which EHRbase will (correctly) reject.

[2020-09-22 05:41] subigre opened #27 "Upgrade to HAPI FHIR 5.1.0"
## Background ##

Upgrade to HAPI FHIR 5.1.0

_Remark: `RemoteTerminologyServerValidationSupport` should be adapted according to the new Validation API._

## Success criteria ##

- [ ] FHIR Bridge works correctly
- [ ] `pattern` is supported for primitive types.

[2020-09-22 10:20] subigre commented on #27
Merged into develop

[2020-09-22 10:20] #27 closed

[2020-09-25 13:36] #26 closed

[2020-10-05 10:34] SevKohler commented on #35
{
    "resourceType": "Bundle",
    "id": "bundle-transaction-bga",
    "meta": {
        "lastUpdated": "2020-09-24T05:33:00Z"
    },
    "type": "transaction",
    "entry": [
        {
            "fullUrl": "http://example.org/fhir/Observation/51b84d62-1f56-4a5c-9ea2-9b00f6853744",
            "resource": {
                "resourceType": "Observation",
                "id": "51b84d62-1f56-4a5c

[2020-10-05 10:36] SevKohler commented on #35
@stefanspiska

[2020-10-05 11:15] stefanspiska commented on #35
@SevKohler Yes I think that is a bug in the sdk.

[2020-10-07 10:50] SevKohler commented on #35
Is there a temporary fix for it until its fixed in the library, so i can continue programming ?

[2020-10-07 11:34] stefanspiska commented on #35
Besides commenting out the code. No.

[2020-10-07 12:27] stefanspiska commented on #35
@SevKohler I will take a look into it in https://github.com/ehrbase/fhir-bridge/issues/35

[2020-10-07 14:38] stefanspiska commented on #35
@SevKohler
should work with https://github.com/ehrbase/openEHR_SDK/pull/99

[2020-10-08 15:03] jsachau opened #41 "Unexpected Parsing Error for Condition Example Symptom Absent/Present"
## Steps to reproduce ##

I have included proper examples for symptoms absent and symptoms present in my branch [61_mapping_symptoms](https://github.com/ehrbase/fhir-bridge/tree/feature/61_mapping_symptoms). When executing my test `createSymptom` I get the following parsing error:

[code]

## Success criteria ##

- [ ] The defect has been fixed
- [ ] Unit tests passed

[2020-10-09 16:19] ppazos commented on #41
@jsachau I think the issue might be the extension in not defined in the profile but I'm not sure, need to consult @subigre

[2020-10-09 16:24] ppazos commented on #42
@subigre there is an issue of folding in IntelliJ: if there are many blocks with the { at the end of the line, it doesn't fold correctly. That is why I always use the { on the next line, also because it's easy to match the closing } by looking down on the same column, and because it generates an extra line that makes the code more readable I mean.

[code]

vs.

[code]

[2020-10-09 16:59] subigre commented on #41
Your are right @ppazos, the FHIR Bridge does not know `https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/certainty-of-presence`. I encountered a similar issue with `MII-Reference` in the past.
@jsachau, you just have to register this additional profile in the application in order to fix the issue.

[2020-10-12 10:10] jsachau opened #44 "AuditService could not find BuildProperties"
## Steps to reproduce ##

I have merged the current develop branch into my local branch and got the following error while executing a test. It seems like I am missing some configuration for the AuditService.

[code]

[2020-10-12 10:18] subigre commented on #44
Could you please check that your local pom.xml contains the following:
https://github.com/ehrbase/fhir-bridge/blob/158c28bd0ba3534bf6b4dff5ffd69b183a41a454/pom.xml#L39-L45

[2020-10-12 10:26] subigre commented on #42
I never paid attention or was impacted by this issue with IntelliJ but I understand. It is not my usual style but we can use your configuration. I just wanted to be sure that we are using the same because currently I always reformat you code or vice-versa.

[2020-10-12 10:28] jsachau commented on #44
It does contain that lines.

[code]

The error also occurs on the latest develop branch.

[2020-10-12 10:33] subigre commented on #44
How do you start the application?

Try to run `mvn clean package` first and check if the `build-info.properties` file is generated in `target/classes/META-INF` directory

[2020-10-12 10:44] jsachau commented on #44
`man clean package` did the trick. My `build-info.properties` file was not generated before. Thank you!

[2020-10-12 10:44] #44 closed

[2020-10-12 11:15] ppazos commented on #42
@subigre for instance the folding issue happens on the ObservationResourceProvider where there is a big if/elseif, only some if/elseif blocks can be folded. I guess it's an IntelliJ issue because it works OK on other editors.

[2020-10-12 11:36] jsachau commented on #41
Registering the additional profile did fix the issue.

[2020-10-12 11:36] #41 closed

[2020-10-13 07:03] stefanspiska commented on #34
Duplikate of  https://github.com/ehrbase/fhir-bridge/issues/35

[2020-10-13 11:32] birgerhaarbrandt commented on #37
Result: this is not possible.

[2020-10-15 07:51] BirgitSaalfeld opened #53 "Description needed for adaption of new develop-branch-state"
I checked out the current develop branch and all tests are failing.
Erik told me, that a new fhir_bridge-database is necessary with the port 9999 (from src/test/resources/application.yml)
[code]
So, I create the user and the db:
[code]
But still the `mvn clean install` fails with all tests. How is it supposed to work? What can I do to make it work?

[2020-10-15 15:18] subigre commented on #53
Dear @BirgitSaalfeld,
I suppose that if you have the PostgreSQL up and running, the problem comes from the missing EHRbase instance.
I am sorry because the current README.md is probably not clear enough and I have a PR (#43) under review in order to fix this problem.

The prerequisites to execute the integration tests (and build the app) are:
- A PostgreSQL database with the following configuratio

[2020-10-16 12:37] BirgitSaalfeld commented on #53
There is no further error message when I use this command
[code]
Correct me if I am wrong:
This starts
- a default postgres-database
- names locally "fhirdb"
- with the user and password "fhir_bridge"
- maps from hostport 9999 to postgres default port 5432 in the docker environment

I don't see the connection to the fhirdb in the `docker-compose.yml` yet.
Do you see anything that could be wrong wi

[2020-10-16 18:48] subigre commented on #53
It is strange because your configuration looks right. Do you have also a running EHRbase instance up and running?

The PR #43 as been merged and I think that the README.md is much more clear now.
You do not need PostgreSQL to build the application any more (only EHRbase server).

[2020-10-19 09:21] jsachau opened #58 "Circle CI Build Failing After Illegal Reflective Access Operation"
In my current [branch](https://github.com/ehrbase/fhir-bridge/tree/feature/72_mapping_patient_in_icu), the CircleCI tests were failing (see [link](https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge/244/workflows/e3215b64-e910-4eea-9d88-9596934fdc16/jobs/264)), because it could not start the FHIR-Bridge application. After reviewing the error I found that "Start EHRBASE Server" and "Start

[2020-10-19 12:44] wlad commented on #58
Hi @jsachau thanks for reporting. This warning messages is a known issue which was not adressed yet but they don't cause the fail.
It seems that with one of the last commits the way how fhirbridge picks up it's configuration has changed - this breaks the CI and I can also reproduce it locally. I will open a separate issue for that.

[2020-10-19 13:06] wlad opened #60 "Fhirbridge not applying configuration from application.yml(?)"
## Steps to reproduce ##

applycation.yml config seems to be ignored during fhirbridge startup.

1. start ehrbase
2. start dockerized postgresql DB for fhirbdridge
  `docker run --name fhirdb -e POSTGRES_USER=fhir_bridge -e POSTGRES_PASSWORD=fhir_bridge -d -p 9999:5432 postgres:11.5-alpine`
3. create an application.yml config in project's root (use [application_config_yml.zip](https://github.com/e

[2020-10-19 13:09] stefanspiska commented on #60
@wlad  to provide a external yaml you must use:

`-Dspring.config.location=file:C:/application.yml`

[2020-10-19 13:15] wlad commented on #60
@stefanspiska thanks for hit. Strange is that it worked without that flag before --> See also successful CI build (prior to issue): https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge/228/workflows/739eb7ae-b93e-448f-8667-c6ef1af708cf/jobs/239

But I'll try pointig to config explicitly.

[2020-10-19 13:25] wlad commented on #60
no success with
[code]

[2020-10-19 15:22] subigre commented on #60
@wlad, as several people encountered configuration issues to build the FHIR Bridge, I discussed with @ppazos and I have updated the README.md file and removed the default configuration for PostgreSQL and EHRBase.

If you put your `application.yml` file in the same directory than the jar file (or under` config/` directory), you do not need to specify the option `spring.config.location`

[2020-10-19 15:33] subigre commented on #60
If you want to put your configuration file in a different location, you have to use this option `spring.config.additional-location`

[2020-10-21 08:53] SevKohler opened #66 "Change output to openEHR Composition instead of FHIR json to support sufficient testing"
## Background ##

Currently the FHIR json which is already in the POST body is returned, there is no information value in returning the same data that was posted. It would be way more advisable to return the mapped Composition. One can see the direct result of the mapping instead of pulling it out via REST API. Furthermore, this will make sufficient JUnit testing more easy, since the current tests

[2020-10-21 09:52] BirgitSaalfeld commented on #53
The project works for me at the moment with the postgres-docker command.
It doesn't work for me without it.
Maybe I don't have enough knowledge about maven and the .yml-files to understand the readme fully.

Because it works for the moment, I close this ticket now.

[2020-10-21 09:52] #53 closed

[2020-10-21 12:13] SevKohler commented on #66
@ppazos @chevalleyc what do you guys think ?

[2020-10-21 12:20] af-dpe opened #68 "Docker-compose up error with mac"
## Steps to reproduce ##

open terminal
open fhire-bridge folder
enter command "docker-compose up"

## Actual result ##

After "Started EhrBase in XX Seconds..." an error is shown in a loop:

[code]

## Expected result ##

No error is shown.

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
-

[2020-10-21 12:57] SevKohler opened #69 "Docker deployment not working"
## Steps to reproduce ##

Replicating the steps done for Docker deployment

## Actual result ##
[code]
## Expected result ##

Works as supposed

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
- [ ] Build without errors
- [ ] Release notes prepared
- [ ] Runtime warnin

[2020-10-21 13:01] SevKohler commented on #69
I guess the new fhir-bridge database is missing in the compose ?

[2020-10-21 13:21] SevKohler opened #71 "Trying to POST creations e.g. BodyTemp, Condition, Sars etc. causes error"
## Steps to reproduce ##

1. Set up database using:
"docker run --name fhirdb -e POSTGRES_PASSWORD=fhir_bridge -e POSTGRES_USER=fhir_bridge -d -p 9999:5432 postgres"
2. create config/application.yml with the following values:

[code]

3. Use Insomnia to POST body temperature
4. displays error

## Actual result ##

[code]
## Expected result ##

Success of Posting Body temperature

## Success criter

[2020-10-25 09:19] wlad commented on #71
@SevKohler from your actual result it seems you are using outdated insomnia files. Please try to reimport insomnia files from develop branch. Any ocurrence of referecne `Patient/...`  was changed with `urn:uuid:`

### example

`"reference": "Patient/07f602e0-579e-4fe3-95af-381728bf0d49"`

shoud be

`"reference": "urn:uuid:07f602e0-579e-4fe3-95af-381728bf0d49"`

[2020-10-25 09:22] wlad commented on #69
@subigre this may be related to #61

[2020-10-25 09:53] wlad commented on #66
Not sure if I'd agree with changing output of fhir-brdige request to output compositions but I agree that testing the actual mapped output must be added. i.e.
1. trigger fhirbridge request (which creates a composition in ehrbase)
2. get composition from ehrbase
3. check composition has correct properties (in context of mapping)

In addition to that
@SevKohler @subigre  can you think of any unit te

[2020-10-26 12:03] SevKohler commented on #66
One could test the plain mapping, without sending it via REST, this also includes testing wrong inputs etc. .

[2020-10-26 12:27] SevKohler commented on #71
as it seems i managed to not update them for more than a month, my bad, thanks !

[2020-10-26 12:27] #71 closed

[2020-10-26 13:56] wlad commented on #66
Sounds like this could add super fast tests in contrast to the relatively slow integration tests. @birgerhaarbrandt I think it's worth to evaluate the effort of this idea because it would provide a fast feedback loop for local an CI builds (and will increase code coverage metrics).

May be something similar to `Prefer: return=representation` header i.e. `Prefer: return=composition` ?

[2020-10-26 14:23] SevKohler commented on #66
"May be something similar to Prefer: return=representation header i.e. Prefer: return=composition ?"
Sounds good to me.

[2020-10-28 10:33] SevKohler opened #84 "Change jitpack/pom, new version of openEHR_SDK needed to make feature60/bloodgas compile and runable"
## Background ##

I require a newer version of the openEHR_SDK as we currently provide in jitpack, in order to compile and implement feature60/bloodgas. There are still a lot of changes to the sdk that are often necessary for implementing mappings (e.g. bugfixes etc.). Hence i would recommend changing the pulled version for the sdk in the pom etc. . Currently im building the openEHR sdk locally, b

[2020-10-28 10:33] SevKohler commented on #84
@ppazos @subigre @wlad

[2020-10-28 10:39] SevKohler commented on #81
I fixed it now as part of feature60/bloodgas, if not i get errors, are there any objections in doing so ?

[2020-10-28 15:24] ppazos commented on #84
@SevKohler do you have a PR for this?

[2020-10-28 15:29] SevKohler commented on #84
Not yet, i can submit one tomorrow (i guess).
I still need verification also from the CI to check if all tests are running there properly (currently failing due to build number of sdk).

[2020-10-30 09:14] wlad commented on #66
@SevKohler would it be feasible to create an example of a unit test you mentioned above so that  we can get a better idea of what the effort would look like.

[2020-10-30 09:35] SevKohler commented on #66
Sure, i can do that just let me finish my current issue and i will make an branch (i need to refactor some parts of the bridge, but afterwards it should be super easy).

[2020-10-30 10:57] SevKohler commented on #81
@ppazos fixed in pull [request](https://github.com/ehrbase/fhir-bridge/pull/86)

[2020-10-30 10:58] SevKohler commented on #84
@ppazos here is the pull [request](https://github.com/ehrbase/fhir-bridge/pull/86)

[2020-11-02 07:49] SevKohler commented on #81
Tests still work if replacing the current test dataset with the new example data set. But you are right i will take it out and make an new issue.

[2020-11-03 11:18] SevKohler opened #93 "Introduce CompositionAbstract for Mandatory fields, Language, Subject, TimeValue, Origin Value etc."
## Background ##

We have a lot of duplicates when it comes down to the ¨Mandatory fields¨ e.g. Language, Territory, StartTimeValue etc. and things like this. This problem does appear on different level of the mapping also within Observations contained in a Composition etc. .
I suggest creating an Abstract Composition and Observation etc. where we have a method to set these Values (```setMandatory

[2020-11-03 11:20] SevKohler commented on #93
@ppazos @subigre

[2020-11-03 21:56] ppazos commented on #93
@SevKohler I agree with this request, I even mentioned this months ago on our planning meetings when I started to work with the bridge.

1. The issue should not be here but in the SDK repo as you already raised it there.
2. When that is fixed in the SDK generator, a refactoring should be made on the bridge, since all OPT classes would need to be regenerated and some other classes will be affected.

[2020-11-03 22:22] ppazos commented on #81
@SevKohler I think it's OK to maintain all changes in the same PR since you need the FiO2 for your mappings.

Though I think we need to integrate the newest profile, with the new ID/URI and new dataset compliant with that, remove the previous one and retest the mapping is working OK and we don't need to change the code of the mapping itself.

[2020-11-04 11:03] af-rsa commented on #60
@wlad You had this issue because your application property file was in test/resources folder instead of main/resources. During implementation of NUM-207 I once tested by having your application-ci in main/resources folder and without your workaround, and it applied the profile then correctly.

[2020-11-04 14:21] SevKohler commented on #93
We could already use the placeholder classes as i supposed and later on replcae them with the ones from the SDK that would safe a lot of refactoring time instead of writing loads and lodas of duplicates. There is no harm in doing so, this only safes time.

[2020-11-04 15:10] SevKohler commented on #81
This is already done in the PR, nevertheless the tests do not check the actual outcome of the mapping, its better to take a closer look and check if there are new fields for FiO2 or so. This i why i asked @ErikTute, who did the initial FIO2 mapping, to check again if everything is fine.

[2020-11-04 15:41] ppazos commented on #93
@SevKohler there are a couple of classes growing because of not having an abstract superclass for all COMPOSITOINS, but it's just a couple of lines each time and are the same classes. I don't think this will cause issues for a future refactoring, since everything is encapsulated and we know which classes to modify.

On the other side, if we modify the code of generated classes manually, and we nee

[2020-11-04 16:00] SevKohler commented on #93
I see your point, nevertheless adding a small ```extends CompositionAbstract``` to each composition is not a lot alteration that needs to be done for each opt update that happens from time to time. The other solution will generate more and more code that needs to refactored and cost more time then the small extends when updating an opt. I thing this is a bad idea and only pushes the problem to a p

[2020-11-04 16:09] #58 closed

[2020-11-04 17:33] ppazos commented on #93
@SevKohler I'm not arguing on how big or small changes are. My point is about maintainability. Any code that is auto generated shouldn't be manually modified because any regeneration of code will break the manual changes and will require to do the manual work each time something auto-generated is updated.

Another point would be: this process will require everyone adding new mappings to modify the

[2020-11-04 18:02] SevKohler commented on #93
Well i did it like that for both mappings both had opt changes and i found it way more pleasant and easy then duplicating, but since your pushing the ticket problem is solved any way!

[2020-11-05 12:05] wlad commented on #81
@SevKohler please link this (and if applicable also other) ticket(s) in the PR so that they get closed automatically when the PR is merged

i.e. ad somethink like this in PR's description:

fixes #81

Is a best practice to apply in all PRs actually.

see [this Github Docs](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking

[2020-11-10 10:22] jsachau opened #99 "Parsing error with extension"
I'm currently having an issue while parsing a specific example of the [Symptom](https://simplifier.net/ForschungsnetzCovid-19/SymptomsCovid19-profile/~json) profile. My example contains the  following extension
[code]

I have added the profile for `https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/uncertainty-of-presence` to the profiles directory. However, when parsing the [ex

[2020-11-12 18:23] ppazos commented on #99
@jsachau I don't know how extensions should be loaded, it might be a similar case to the MII-Reference we had some time ago. @subigre do you know how an extension should be configured?

[2020-11-13 16:51] subigre commented on #99
@jsachau @ppazos I apologize for the late reply.

Exentions and profiles are using the same mechanism (https://www.hl7.org/fhir/profiling.html) and the corresponding `StructureDefinition` must be included in application.

[2020-11-13 17:27] ppazos commented on #99
thanks @subigre besides adding the profile like @jsachau did, does she need to do anything else?

it would be great if you can take a look at her branch https://github.com/ehrbase/fhir-bridge/tree/feature/61_mapping_symptoms

[2020-11-16 09:00] jsachau commented on #99
@subigre was right, adding the StructureDefinition is enough. It seems like I had an issue where the profiles .xml files were not updated in the final build. After restarting my computer, the error disappeared.

[2020-11-16 09:07] subigre commented on #99
I had this issue from time to time and it appears when I build the project directly in intellij. Now, I am always using` mvn clean package` whenever I add a new profile.

[2020-11-16 09:39] jsachau commented on #99
I have finished my mapping and wanted to create a pull request when I notices that the error still occurs in the [circle ci build](https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge/472/workflows/1c5781d1-f947-4d1a-bb3f-737f0a6dd37b/jobs/740/tests):

[code]

@subigre How did you force a clean build there?

[2020-11-16 09:49] #99 closed

[2020-11-16 10:10] subigre commented on #93
I apologize because I missed this issue.
In my case I don't need an abstract class but, as discussed with @ppazos, I would appreciate if we could introduce an interface for all composition classes generated by the SDK.
This could help in the context of the PoC and we might be able to define a CompositionConverter to have a common interface in order to implement the conversion logic between composi

[2020-11-19 15:41] SevKohler commented on #93
I think an AbstractComposition is better, this is also because of the semantics itself and the Mandatory(
[code]

[2020-11-20 12:03] subigre opened #2 "Integrate CoronavirusNachweisTest profile for Observation resource"
`https://charite.infectioncontrol.de/fhir/core/StructureDefinition/CoronavirusNachweisTest`

[2020-11-20 12:05] subigre opened #3 "Integrate BodyTemp profile for Observsation resource"
`http://hl7.org/fhir/StructureDefinition/bodytemp`

[2020-11-20 12:07] subigre opened #4 "Integrate Fi02 profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/inhaled-oxygen-concentration`

[2020-11-20 12:08] subigre opened #5 "Integrate BloodPressure profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/blood-pressure`

[2020-11-20 12:08] subigre opened #6 "Integrate HearthRate profile for Observation resource"
`http://hl7.org/fhir/StructureDefinition/heartrate`

[2020-11-20 12:09] subigre opened #7 "Integrate PatientInICU profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/patient-in-icu`

[2020-11-20 12:11] subigre opened #8 "Integrate PregnancyStatus profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/pregnancy-status`

[2020-11-20 12:11] subigre opened #9 "Integrate ObservationLab profile for Observation resource"
`https://www.medizininformatik-initiative.de/fhir/core/modul-labor/StructureDefinition/ObservationLab`

[2020-11-20 12:12] subigre opened #10 "Integrate SofaScore profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/sofa-score`

[2020-11-20 12:12] subigre opened #11 "Integrate BodyWeight profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/body-weight`

[2020-11-20 12:13] subigre opened #12 "Integrate ClinicalFrailtyScaleScore profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/frailty-score`

[2020-11-20 12:14] subigre opened #13 "Integrate BodyHeight profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/body-height`

[2020-11-20 12:15] subigre opened #14 "Integrate RespiratoryRate profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/respiratory-rate`

[2020-11-20 12:16] subigre opened #15 "Integrate SmokingStatus profile for Observation resource"
`https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/smoking-status`

[2020-11-20 12:17] subigre opened #16 "Integrate internal audit mechanism using AuditEvent resource"
Integrate internal audit mechanism using AuditEvent resource

[2020-11-20 12:27] #2 closed, assigned to subigre

[2020-11-20 12:47] #3 closed, assigned to subigre

[2020-11-20 13:04] #13 closed, assigned to subigre

[2020-11-20 13:40] #11 closed, assigned to subigre

[2020-11-20 13:59] SevKohler commented on #104
@ppazos @subigre

[2020-11-20 14:27] #15 closed, assigned to subigre

[2020-11-20 14:44] #4 closed, assigned to subigre

[2020-11-20 15:09] #5 closed, assigned to subigre

[2020-11-20 15:55] SevKohler commented on #93
The Converter then contains these mandatory fields and sets them for each Composition ?

[2020-11-20 16:03] subigre commented on #93
The CompositionConverter is an generic interface.
[code]

But we might have an `AbstractCompositionConverter` that implements the common logic

[2020-11-20 16:04] #6 closed, assigned to subigre

[2020-11-20 16:16] SevKohler commented on #93
Okay !

[2020-11-20 16:33] #8 closed, assigned to subigre

[2020-11-20 16:45] #7 closed, assigned to subigre

[2020-11-20 17:00] #9 closed, assigned to subigre

[2020-11-20 17:18] #10 closed, assigned to subigre

[2020-11-20 17:33] #12 closed, assigned to subigre

[2020-11-20 17:52] #14 closed, assigned to subigre

[2020-11-20 17:58] ppazos commented on #104
@SevKohler we are in the process of migrating the bridge to a different source base, I don't think we are going to support this repo in the near future.

About the complexity, I don't have strong opinions, there are cases where the code can and should be broken down, other cases breaking down the code makes it less maintainable. Personally I take the suggestion by Sonarcloud as a recommendation, n

[2020-11-20 19:29] SevKohler commented on #104
As stated above, its a recommendation, but a congitive complexity of 15 is, well, a lot. For the PoC (and future repo) please chose a smaller number, as said it does not harm.

[2020-11-23 09:05] SevKohler commented on #104
@wlad what do you think ?

[2020-11-23 13:11] jsachau opened #105 "Improve Mapping Code Quality"
Improve the code quality of the mappings that are already finished and merged into the develop branch.

[2020-11-24 12:48] subigre opened #31 "Upgrade Spring Boot and improve Docker support"
Upgrade Spring Boot and Spring Boot Maven Plugin to 2.3.x and add documentation for Docker

[2020-11-24 13:00] #105 closed

[2020-11-24 14:05] janprill opened #108 "Test of fhir-bridge using docker-compose.yml hasn't worked as expected"
## Steps to reproduce ##

[code]

docker-compose up results in running containers:

[code]

## Actual result ##

2020-11-24 14:57:58.128  WARN 7841 --- [nio-8888-exec-6] o.e.client.building.OptSkeletonBuilder   : Attribute template_id not known for object Observation
2020-11-24 14:57:58.128  WARN 7841 --- [nio-8888-exec-6] o.e.client.building.OptSkeletonBuilder   : Attribute template_id not known

[2020-11-24 16:59] subigre commented on #31
Done

[2020-11-24 16:59] #31 closed, assigned to nobody

[2020-11-24 16:59] subigre opened #32 "Implement Search for Condition resource"
Implement Search for Condition resource

[2020-11-24 17:14] #32 closed, assigned to nobody

[2020-11-25 09:11] subigre opened #34 "Introduce Liquibase (or Flyway) to manage database migration"
In order to simply the deployment process using docker, it could be nice to have a database migration tool that setup and configure the database.

[2020-11-25 11:14] wlad commented on #60
I'm closing this one cause we will move to new repository anyway --> https://github.com/ehrbase/fhir-bridge-poc

[2020-11-25 11:14] #60 closed

[2020-11-26 11:06] wlad opened #35 "Systolic blood pressure accepted string as value"
[code]

this worked in old fhir-bridge, the previous behaviour was
[code]

## Request
[code]

## Response
[code]

[2020-11-26 16:06] wlad opened #36 "Server error when blood pressure values not within intervall 0 <= 1000"
This tests worked in old fhir-bridge. The old response was
[code]

## Request/Response for Observation.component[0].valueQuantity.value = 1000
[code]

[code]

## Request/Response for Observation.component[0].valueQuantity.value =  -1

[code]

[code]

[2020-11-26 17:48] ppazos opened #37 "Create documentation of the new camel flows"
Would be useful to have some kind of diagram explaining what happens inside the camel steps.

This is specified in the 'routes' classes.

[2020-11-27 10:41] #34 closed, assigned to subigre

[2020-11-27 14:24] subigre commented on #36
This kind of error `500 Internal Server Error` when an exception occured in EHRbase is fixed:
[code]
[code]

As I told you on Slack, I have also added the error message in the `messages.properties` file.
BTW, I have updated the message regarding the default profile:
[code]

[2020-11-28 17:17] #36 closed, assigned to subigre

[2020-11-28 17:27] wlad commented on #35
similar to above issue

**unit** property accepts integer as value. Was failing in old fhir-bridge with below error

[code]

[2020-11-30 17:28] ppazos opened #42 "Create unit testing documentation and sample unit test"
## Background ##

I had a meeting with @af-dpe, I asked him to document the test cases and data combinations that he implemented, he created the doc and will finish it soon.

With @SevKohler we talked about unit tests, just for the mapping part. We will use the same JSONs used in the integration test (the data combinations documented as @af-dpe is doing right now) and need to create the correspond

[2020-12-01 06:42] subigre opened #43 "Integrate the `Symptoms Covid-19` profile"
## Background ##

Integrate the `Symptoms Covid-19` profile in the new FHIR Bridge

## Acceptance criteria ##

The profile is integrated and Condition resources can be submitted using this profile.

- [ ] Integration tests
- [ ] Postman Collection updated
- [ ] FHIR resource validated according to the profile

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit t

[2020-12-01 10:24] #43 closed, assigned to subigre

[2020-12-01 10:30] subigre opened #45 "Add new properties to configure the basic authentication for EHRbase"
## Background ##

Add new properties to configure the basic authentication for EHRbase.

## Acceptance criteria ##

_These are the functional requirements for this story. Add all steps to be implemented to fulfill the requirements._

- [ ] Item 1

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updated documentation (Javadoc and Sphinx)
- [

[2020-12-02 13:22] janprill opened #46 "docker-compose -f docker-compose-full.yml up exits with error"
## Steps to reproduce ##

[code]

## Actual result ##

Creating network "docker_ehrbase-network" with the default driver
Pulling elasticsearch (elasticsearch:7.7.0)...
7.7.0: Pulling from library/elasticsearch
524b0c1e57f8: Pull complete
4f79045bc94a: Pull complete
5bfd159f5e06: Pull complete
e00e3b68a158: Pull complete
33b005156da6: Pull complete
a4bd47222680: Pull complete
6433b34e08c2: Pull com

[2020-12-02 13:23] janprill commented on #46
ah, got it. Need to build the image first locally. Sorry. Closing.

[2020-12-02 13:23] #46 closed, assigned to nobody

[2020-12-05 12:28] sumitrathi95 opened #112 "Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured."
Hello,
I am trying to install FHIR-BRIDGE server using docker image but facing below issue.
[code]

I have installed ehrbase as well as ehr-postgres docker images for the same.

I have also tried `mvn clean install` it is working and creating bean and connecting postgres after few seconds it fails without showing error.

[2020-12-07 16:25] ppazos opened #54 "Update to the last SDK"
## Background ##

The PoC should use the latest openEHR SDK.

## Expected output ##

Working build.

[2020-12-07 16:29] #54 closed, assigned to ppazos

[2020-12-07 18:36] wlad commented on #35
fixed by https://github.com/ehrbase/fhir-bridge-poc/pull/49

[2020-12-07 18:36] #35 closed, assigned to subigre

[2020-12-08 12:01] SevKohler commented on #37
first draft is done, i sent an mail to @subigre and asked him to check the content (take a look in the wiki of the project). @ppazos would you like a flow chart for every specific route (resource type) ? I did already [one](https://drive.google.com/file/d/14blDTU7aB0mMUKBHdYvAubnWT13rOyO_/view)(needs update and alteration so its more generic for observation)  did you meant smt like that ?

[2020-12-08 14:39] wlad opened #59 "Communication between FHIR Bridge and EHRbase is not secured(?)"
![image](https://user-images.githubusercontent.com/64201310/101496628-4745b780-396a-11eb-9794-d56b2ef3013b.png)

## Steps to reproduce ##

1. create ehr in ehrbase using correct basic auth credentials
2. POST to any fhir-bridge endpoint (i.e. /Observation) with Authorization:null
3. check response

## Actual result ##

positive responses to requests without proper Authorization headers

## Expecte

[2020-12-08 15:40] wlad commented on #59
As @stefanspiska  has confirmed this behaviour is OK and not and issue.

[2020-12-08 15:40] #59 closed, assigned to nobody

[2020-12-08 15:51] #45 closed, assigned to subigre

[2020-12-08 17:29] #16 closed, assigned to subigre

[2020-12-10 13:01] wlad commented on #42
@ppazos what about [this example](https://github.com/ehrbase/num_platform/issues/82#issuecomment-732774345) that @SevKohler has already created in the old fhir-bridge repo?

[2020-12-10 18:05] ppazos commented on #42
@wlad I think it's different, @SevKohler did this https://github.com/ehrbase/fhir-bridge-poc/wiki also added nice flow charts

[2020-12-11 08:58] subigre opened #67 "Missing support for QuestionnaireResponse resource"
## Background ##

The previous version of the application supported FHIR QuestionnaireResponse resource (https://www.hl7.org/fhir/questionnaireresponse.html) and the implementation is missing from the new version.

## Expected output ##

The QuestionnaireResponse resource has to be supported. For the time being, the resource should be stored in the internal database.

- [ ] QuestionnaireResponse r

[2020-12-11 10:23] subigre commented on #67
Done #68

[2020-12-11 10:23] #67 closed, assigned to nobody

[2020-12-14 14:00] SevKohler commented on #42
@wlad @ppazos  we discussed this example, as a possible solutions. An easier way would be comparing the json trees, which i still have to find an easy way for (with jackson it seems rather time evasive). In this example that is to come i will use either the old one or try it with the json tree, lets see. Using this example i will explain the requirements i discussed with @ppazos we want for new ma

[2020-12-14 16:27] ppazos commented on #42
@SevKohler if the JSON structures could be transformed to maps of multiple levels, something like this could help to do the diff: https://gist.github.com/sujeet100/cae052b9a2db0ede9efa69ef76c38f7e

[2020-12-14 21:49] wlad commented on #68
obsolete

[2020-12-14 21:49] #68 closed

[2020-12-14 22:48] wlad commented on #108
@janprill  please try the new fhir-bridge --> https://github.com/ehrbase/fhir-bridge

[2020-12-14 22:50] wlad commented on #84
new fhir-bridge uses `<ehrbase-sdk.version>develop-SNAPSHOT</ehrbase-sdk.version>`

I think this one can be closed then @SevKohler ?

[2020-12-14 22:51] #84 closed

[2020-12-14 22:51] wlad commented on #69
@SevKohler  is this still an issue with the new fhir-bridge?

[2020-12-14 22:52] SevKohler commented on #69
Didnt encounter ist so far. I will close it for now.

[2020-12-14 22:52] #69 closed

[2020-12-14 22:52] wlad commented on #17
Is this still relevant considering there is a new fhir-bridge?

[2020-12-14 22:53] wlad commented on #8
@ppazos  Is this still relevant in the new fhir-bridge?

[2020-12-15 07:49] subigre opened #79 "The composition ID should be return back to the client using the resource identifier property"
## Background ##

After that the submitted resource is processed and a composition is created in EHRbase, the response sent back to the client should contain the Composition ID as one of the resource identifiers.

* Request
[code]

* Response
[code]
## Acceptance criteria ##

_These are the functional requirements for this story. Add all steps to be implemented to fulfill the requirements._

- [ ]

[2020-12-15 12:05] subigre opened #80 "Remote terminology server validation failed for valid concepts"
## Steps to reproduce ##

Enable the remote terminology server validation using the following configuration and try to create an Observation using BodyTemp

[code]

## Actual result ##

Validation failed on valid codes:

[code]

## Expected result ##
The validation should be OK as the codes `Cel `and `8310-5` are valid concepts

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The def

[2020-12-15 14:57] jsachau opened #81 "Fhir Profile Validation Fails"
For the diagnosis mapping, I have added multiple profiles to fhir-bridge. A diagnosis can be absent, present or unknown. For the present and absent case, the condition has to include a validation status. For the unknown case, the condition has to include an "uncertainty-of-presence" extension. In the later case, the validation fails with the following error:

[code]

After investigating my example

[2020-12-15 15:06] ppazos commented on #81
@jsachau the rule seems to look for 'extension'

`... Condition.extension.where ...`

And the resource has 'modifierExtension'.

Not sure if that is the issue, but might be related.

So this:

`verificationStatus.exists() != Condition.extension.where(...).exists()`

Might really evaluate to:

`false != false`

[2020-12-15 15:15] jsachau commented on #81
As in the symptoms profile I had to manually change the name `extension` to `modifierExtension` in the example, because the validation threw an error. So someone has to fix the profile and change the extension to a modifierExtension for all validations?

[2020-12-15 15:31] ppazos commented on #81
@subigre can you comment on this one?

[2020-12-15 15:36] jsachau commented on #81
I wrote Julian Saß and told him about the problem. I will paste his response once he reaches out to me.

[2020-12-15 17:19] subigre commented on #80
Fixed

[2020-12-15 17:19] #80 closed, assigned to nobody

[2020-12-15 17:36] subigre commented on #81
No need to comment... you are absolutely right @ppazos 👍

The extension `https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/uncertainty-of-presence` is a specific extension => [Modifier Extension](https://www.hl7.org/fhir/extensibility.html#modifierExtension)
This modifier extension requires to use `modifierExtension` instead of `extension` in the FHIR resource.

As you already

[2020-12-15 19:17] ppazos commented on #81
@subigre you rock, thanks!

[2020-12-18 13:59] subigre opened #87 "Two-way SSL Authentication for remote terminology server validation"
## Background ##

Investigate, configure and test if the FHIR Bridge is able to communicate with a remote terminology server using Two-way SSL Authentication .

## Acceptance criteria ##

_These are the functional requirements for this story. Add all steps to be implemented to fulfill the requirements._

- [ ] Create the `KeyStore ` and `TrustStore` with private key and public certificate for the

[2020-12-21 17:16] af-dpe opened #89 "Smoking Status invalid tests with response code 201"
## Test Case/s To Reproduce Issue
06 Create Smoking Status (Invalid/Missing 'category')
- line 197
- line 205

009 Create Smoking Status (Invalid/Missing 'valueCodeableConcept')
- line 325

[code]

[code]

[2020-12-21 17:21] af-dpe commented on #89
06 Create Smoking Status (Invalid/Missing 'category')
line 185:
[code]

line 195:
[code]

line 197:
[code]

[2020-12-21 17:24] af-dpe commented on #89
Tests are currently commented out

[2021-01-04 00:33] af-dpe opened #95 "09_create_pregnancy_status -> response status 201 & 500 where a status of 422 is expected"
## Test Case/s To Reproduce Issue
**007 Create Pregnancy Status (Invalid/Missing 'category')**
- line 227
- line 235

**010 Create Pregnancy Status (Invalid/Missing 'valueCodeableConcept')**
- line 340
- line 349
- line 355

**012 Create Pregnancy Status (Invalid/Missing 'DataAbsentReason')**
- line 406
- line 415
- line 423
- line 428

[code]

[code]

## Actual Result
**007 Create Pregnancy Statu

[2021-01-05 12:11] af-dpe commented on #89
Added the

- BUG TRACE 01 Create smoking status (Invalid/Missing 'category')
- BUG TRACE 02 Create smoking status (Invalid/Missing 'valueCodeableConcept')

and tagged them with "not-ready" so that the tests are running in the CI

[2021-01-05 12:27] af-dpe commented on #95
Added the

- BUG TRACE 01 Create Pregnancy Status (Invalid/Missing 'category')
- BUG TRACE 02 Create Pregnancy Status (Invalid/Missing 'valueCodeableConcept')
- BUG TRACE 03 Create Pregnancy Status (Invalid/Missing 'DataAbsentReason')

and tagged them with "not-ready" so that the tests are running in the CI

[2021-01-05 16:29] jsachau opened #97 "SonarCloud test fails"
I am getting a Sonar Cloud error when testing the diagnose mappings.

[code]

It seems to have something to do with my [branch](https://github.com/ehrbase/fhir-bridge/tree/feature/104_diagnose_mapping). See [CircleCI](https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge/314/workflows/92baa660-f561-443d-9621-aecf7a397a6d/jobs/606) to see the full test output. The quick test of the same bra

[2021-01-05 16:29] jsachau opened #98 "SonarCloud test fails"
I am getting a Sonar Cloud error when testing the diagnose mappings.

[code]

It seems to have something to do with my [branch](https://github.com/ehrbase/fhir-bridge/tree/feature/104_diagnose_mapping). See [CircleCI](https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge/314/workflows/92baa660-f561-443d-9621-aecf7a397a6d/jobs/606) to see the full test output. The quick test of the same bra

[2021-01-06 15:22] af-dpe commented on #98
Looks like its because of the renaming of the repro @jsachau

[code]

there you have the project "fhir-bridge-poc" but it mus be "fhir-bridge"

[2021-01-06 15:31] af-dpe commented on #98
@jsachau Go to the sonar-project.properties
-> change there the project name

thats how it looks like currently:

[code]

[2021-01-06 15:43] af-dpe opened #100 "wrong response codes for profile sofa score"
## Test Case/s To Reproduce Issue

[code]

[code]

## Actual Result
**016 Create Sofa Score (Invalid 'DataAbsentReason' AND 'component')**
- DataAbsendReason and component valueCodeableConcept are present -> no error message for this is shown

**BUG TRACE 01 Create Sofa Score (Invalid/Missing 'effectiveDateTime')**
- missing datetime -> response code 500

**BUG TRACE 02 Create Sofa Score (Invalid/

[2021-01-08 11:39] af-dpe opened #103 "wrong response codes for profile frailty scale score"
## Test Case/s To Reproduce Issue

[code]

[code]

## Actual Result
**BUG TRACE 01 Create Clinical Frailty Scale Score (Invalid/Missing 'effectiveDateTime')**
- missing dateTime -> response code  422 but no diagnostic message

**BUG TRACE 02 Create Clinical Frailty Scale Score (Invalid/Missing 'valueCodeableConcept')**
- random http for $.valueCodeableConcept.coding[0].system -> response code is 2

[2021-01-09 15:35] #97 closed, assigned to ppazos, subigre

[2021-01-09 15:36] jsachau commented on #98
Thank you for the comment. Wlad fixed this error in the sonar-project.properties in December. After merging the newest develop branch into my branch the test ran as expected.

[2021-01-09 15:36] #98 closed, assigned to ppazos, subigre

[2021-01-11 14:33] subigre opened #104 "Application failed to start due to java.lang.NoSuchMethodException"
## Steps to reproduce ##

I receive the following message from Peter on Slack:

## Actual result ##

[code]

## Expected result ##

The application should startup without any error.

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
- [ ] Build without errors
- [ ] Relea

[2021-01-11 15:47] SevKohler commented on #104
i have the same bug some dependency uses an older version of the jackson XmlMapper as far as i can see it

[2021-01-12 10:27] af-dpe opened #106 "wrong response codes for profil patient in icu"
## Test Case/s To Reproduce Issue

[code]

[code]

## Actual Result
**BUG TRACE 02 Create Patient in ICU (Invalid/Missing 'category')**
- $.category[0].coding[0].code with random string           -> response code 201
- $.category[0].coding[0].system with random http://       -> response code 201
-> profile frailty scale score has here the status code 422

**BUG TRACE 03 Create Patient in ICU (Inva

[2021-01-12 12:36] subigre commented on #104
Indeed, the issue appears after an upgrade of Jackson library in openEHR_SDK.

I fix the issue in this commit https://github.com/ehrbase/fhir-bridge/commit/678bc7125cc0b873d77ff7e9bd796391c86bd32f using `spring-boot-dependencies`:
[code]

PS: I think that it might be interesting to have a BOM including the list of third party libraries used in EHRbase projects.

[2021-01-12 12:36] #104 closed, assigned to subigre

[2021-01-12 14:54] subigre opened #109 "Support `MIXED` mode for terminology validation"
## Background ##

Add a new mode for the terminology validation `MIXED` that combines the `EMBEDDED` and `REMOTE` validation features.

## Acceptance criteria ##

Validation works properly using first, the embedded capabilities and second, the remote server if needed.

- [ ] All `Code`, `Coding` and `CodeableConcept` are validated.
- [ ] Common terminology is validated using the `CommonCodeSystems

[2021-01-12 14:55] #87 closed, assigned to nobody

[2021-01-13 11:57] BirgitSaalfeld opened #113 "Missing environment in postman-file"
## Steps to reproduce ##

In the current postman-file `fhir-bridge.postman_collection.json` the environment is missing. I set it manually with Severin as follows:
![image](https://user-images.githubusercontent.com/70131678/104449356-c6985d80-559e-11eb-9039-1837de02fee1.png)

## Actual result ##

No communication possible

## Expected result ##

Environment is part of postman-file

## Success crite

[2021-01-13 18:40] subigre commented on #113
I apologize, I had not noticed that environement are not exported together with the collection.
I think that it was the case in the past... maybe an update in the last versions of Postman.
In any case, I pushed the missing `fhir-bridge.postman_environment.json`.

[2021-01-13 19:51] #109 closed, assigned to subigre

[2021-01-14 06:57] #113 closed, assigned to subigre

[2021-01-14 10:25] SevKohler opened #121 "Add Composition Version ID to the debug log"
## Background ##

We need this version id for the mapping, currently we have to pour it out of the ehr (which could have several compositions), which is super inconvienient and takes way too much time. See the old fhir-bridge there the version id of the composition is returned. Im currently wasting a lot of time doing that and so will others.
I tried to add a VersionId to the Composition before it

[2021-01-14 10:50] SevKohler commented on #121
@subigre @ppazos this is very important for testing and fixing wrong mappings, because i cant distinct my submitted compositions and need restart the database or i end up losing the track.

[2021-01-15 18:15] subigre opened #136 "Rug regarding 'javax.sql.DataSource' using Docker image"
## Steps to reproduce ##

Issue reported by Peter when he starts the Docker container

## Actual result ##
[code]

## Expected result ##
Application should start

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
- [ ] Build without errors
- [ ] Release notes prepared
-

[2021-01-15 20:05] #136 closed, assigned to subigre

[2021-01-19 08:11] subigre commented on #121
@SevKohler 👍👍👍

I fully agree that the Composition Version ID should be return back to the client and I have the issue #79 in my todo list.

Regarding the implementation, I have two proposals to based on the current solution:
- Either we implement all the methods `T fromComposition(C composition)` and we returned this result instead of the one persisted in the database.
=> This solution was my ide

[2021-01-19 08:19] subigre opened #142 "Add support for 'Blood Gas Panel' profile"
## Background ##

The FHIR-Bridge should support 'Blood Gas Panel' profile for the incoming Observation resource.

## Expected output ##

Add items here or describe what is expected as the result of the task, i.e. a wiki entry, a conceptual document or a configured tool that executes recurring tasks.

- [ ] Observation with 'Blood Gas Panel' profile are processed and validated
- [ ] An empty compo

[2021-01-19 12:32] SevKohler commented on #121
I dont think we need to see the resource again, we already have it in the body.
There is not value in doing so.
I prefer the first solution, of returning the mapped composition.

[2021-01-19 18:49] ppazos commented on #121
@SevKohler from the openEHR perspective, the version ID on the composition.uid should be assigned by the server, because it's used for internal version management. It can't be assigned by a client, like FHIR bridge is for ehrbase. The only way is retrieving the composition as the result of the create operation, and grabing the compo.uid as I was doing in the old repo.

I didn't check how this work

[2021-01-19 18:53] ppazos commented on #89
@af-dpe for the error messages/codes, can you paste the FHIR bridge logs from it's console?

[2021-01-19 18:54] ppazos commented on #106
@af-dpe for the error messages/codes, can you paste the FHIR bridge logs from it's console?

[2021-01-19 18:54] ppazos commented on #103
@af-dpe for the error messages/codes, can you paste the FHIR bridge logs from it's console?

[2021-01-19 18:57] ppazos commented on #100
@af-dpe for the error messages/codes, can you paste the FHIR bridge logs from it's console?

[2021-01-19 18:58] ppazos commented on #95
@af-dpe for the error messages/codes, can you paste the FHIR bridge logs from it's console?

[2021-01-19 19:12] ppazos commented on #81
@jsachau did you get feedback on this issue?

[2021-01-19 21:23] SevKohler commented on #121
Yeah i know, but isnt that what @subigre suggests with the first solution ?
If not thats what we need.

[2021-01-20 01:40] ppazos commented on #121
@SevKohler I'm not sure if we are talking about the same thing because I don't know what **T fromComposition(C composition)** is.

The point of my message is clarifying the way openEHR and the API works, not about a specific solution implementation. To return the composition created from the POST to the openEHR API, it just needs the header **Prefer: return=representation**

[2021-01-20 10:13] jsachau commented on #81
@ppazos: Yes @subigre was right and the profiles had to be updated. Julian Saß has fixed the error.

Thanks!

[2021-01-21 08:27] SevKohler commented on #142
here is my [branch ](https://github.com/ehrbase/fhir-bridge/tree/feature/60_mapping_blood_gas) may safe you some time !

[2021-01-21 11:10] af-dpe commented on #106
**BUG TRACE 03 Create Patient in ICU (Invalid/Missing 'valueCodeableConcept')**
[code]

[2021-01-21 11:20] af-dpe commented on #106
@ppazos  deleted the tests which do not fit the simplifier definitions

for BUG Trace 02 and 04 do you know if the values for Code and system have to be validated or if this can be for example a random string or https -> checked it in the definitions and there it is not defined but for some other profiles (e.g. frailty scale score) there are only 1 value allowed

BUG Trace 03 & 04:
-> for not data

[2021-01-21 11:37] af-dpe commented on #103
**BUG TRACE 01 Create Clinical Frailty Scale Score (Invalid/Missing 'effectiveDateTime')**
[code]

[2021-01-21 11:41] af-dpe commented on #103
**BUG TRACE 02 Create Clinical Frailty Scale Score (Invalid/Missing 'valueCodeableConcept')**
- missing $.valueCodeableConcept.coding[0].code -> response code 422 with helpful diagnostic message

[code]

[2021-01-21 11:52] af-dpe commented on #100
**016 Create Sofa Score (Invalid 'DataAbsentReason' AND 'component')**
[code]

[2021-01-21 11:55] af-dpe commented on #100
**BUG TRACE 02 Create Sofa Score (Invalid/Missing 'component' for missing or empty ground attributes)**
[code]

[2021-01-21 12:13] af-dpe commented on #100
**BUG TRACE 08 Create Sofa Score (Invalid/Missing 'component' for Array value 5**
- random https for component[5].code.coding[0].system -> response code 422
[code]

- random string for component[5].code.coding[0].code   -> response code 422
[code]

- random string for component[5].valueCodeableConcept.coding[0].code -> response code 422
[code]

[2021-01-21 12:42] af-dpe commented on #95
**BUG TRACE 01 Create Pregnancy Status (Invalid/Missing 'category')**
- randomstring for category code in JSON -> response code 201

[code]

- random “https//” for category system in JSON -> response code 201

[code]

[2021-01-21 12:52] af-dpe commented on #95
**BUG TRACE 02 Create Pregnancy Status (Invalid/Missing 'valueCodeableConcept')**
missing valueCodeableConcept in JSON -> response code 500
[code]

missing valueCodeableConcept coding -> response code 500
[code]

random “https//” for valueCodeableConcept System in JSON -> response code 201
[code]

[2021-01-21 13:00] af-dpe commented on #95
**BUG TRACE 03 Create Pregnancy Status (Invalid/Missing 'DataAbsentReason')**
- missing dataabsentreason and valuecodeableconcept -> response code 500
[code]

- missing dataabsentreason coding and valuecodeableconcept -> response code 500
[code]

- dataabsentreason coding system = invalid http// and missing valuecodeableconcept -> response code 500
[code]

- dataabsentreason coding code = randomst

[2021-01-21 13:23] af-dpe commented on #89
**BUG TRACE 01 Create smoking status (Invalid/Missing 'category')**
- randomstring for category code in JSON -> response code 201
[code]

- random “https//” for category system in JSON -> response code 201
[code]

[2021-01-21 13:24] af-dpe commented on #89
**BUG TRACE 02 Create smoking status (Invalid/Missing 'valueCodeableConcept')**
- random “https//” for valueCodeableConcept System in JSON -> response code 201
[code]

[2021-01-22 13:30] af-pwo opened #152 "Unexpected 422 Error in happy path tests of ObservationLab"
## Test Case/s To Reproduce Issue
tests/robot/OBSERVATION/01_create.robot/..
39 Create Observation Lab - CRP
40 Create Observation Lab - Billirubin
41 Create Observation Lab - Ferritin
43 Create Observation Lab - Gamma Glutamyl Transferase
44 Create Observation Lab - Lactate
45 Create Observation Lab - Leukocytes
46 Create Observation Lab - Lymphocytes
48 Create Observation Lab - Hemoglobin
51 Cre

[2021-01-22 13:55] af-pwo opened #153 "Unexpected 500 Error in happy path tests of ObservationLab"
## Test Case/s To Reproduce Issue

tests/robot/OBSERVATION/01_create.robot/..
42 Create Observation Lab - D-Dimer
47 Create Observation Lab - Neutrophils
50  Create Observation Lab - Cardiac Troponin
52 Create Observation Lab - Lactate Dehydrogenase
56 Create Observation Lab - Partial thrombolastin time
57 Create Observation Lab - Albumin in Serum
60 Create Observation Lab - Fibrinogen
61 Create O

[2021-01-22 14:53] subigre opened #154 "A NullPointerException occurs in the AuditProcessor when an exception occurred during validation"
## Steps to reproduce ##

A `java.lang.NullPointerException` occurrs when the FHIR-Bridge registers the audit message if an exception has been raised during the processing (mainly if there is a validation error or an error in EHRbase).

## Actual result ##

[code]

## Expected result ##

The AuditMessage should be created without the `entity` field

## Success criteria ##

- [ ] The defect has bee

[2021-01-22 16:06] subigre opened #155 "The application failed to start when there is no internet connection"
## Steps to reproduce ##

The application failed to start without an internet connection due to missing XSD schema for liquibase.

## Actual result ##

[code]

## Expected result ##

The application starts successfully

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
-

[2021-01-22 16:25] subigre commented on #155
After investigation, the bug appeared when I switched to use Spring Boot dependency management:
[code]
Spring Boot references Liquibase `3.10.3` as dependency and the FHIR Brige was using version `4.2.0` before the change.

As consequences, the application tries to get the XSD `dbchangelog-4.0.xsd` from Internet as it is not any more in the classpath.

[2021-01-22 16:28] subigre commented on #155
Fixed with https://github.com/ehrbase/fhir-bridge/commit/aea9daaccd19ea0802dbf2ae65035fdef4655d28

I change the version of the schema in `db.changelog-1.0.xml` and `db.changelog-master.xml`

[2021-01-22 16:28] #155 closed, assigned to subigre

[2021-01-25 09:22] #154 closed, assigned to subigre

[2021-01-26 00:34] ppazos commented on #152
@af-pwo the error from the log comes from this code:

[code]

Because the untersuchterAnalyt is NULL.

That could happen because:

1. this condition is false: fhirObservation.getCode().getCoding().get(0).getSystem().equals("http://loinc.org")
2. or the 'code' used is not in this enum https://github.com/ehrbase/fhir-bridge/blob/2ce1c5ed7d55eb35985d286e65379f6b98f7c4f6/src/main/java/org/ehrbase/fhir

[2021-01-26 00:36] ppazos commented on #153
@af-pwo the error from the log happens because the issuedDateTime is not in the JSON.

https://github.com/ehrbase/fhir-bridge/blob/develop/src/main/java/org/ehrbase/fhirbridge/ehr/converter/ObservationLabCompositionConverter.java#L456-L494

Can you attach the JSON used? Thanks

[2021-01-26 12:24] af-pwo commented on #153
@ppazos

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-aspartate-aminotransferase.json

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-fibrinogen.json

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-inr.json

https://githu

[2021-01-26 12:26] af-pwo commented on #152
@ppazos

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-CRP.json

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-bilirubin.json

https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-observation-lab-ferritin.json

https://github.com/ehrbase/fhir-

[2021-01-26 15:57] ppazos opened #160 "Add valid test alternatives for radiology-procedures procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-radiology-procedures-chest-x-ray.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0104+Procedure

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Procedure/r4
-

[2021-01-26 15:58] ppazos opened #161 "Add valid test alternatives for respiratory-therapies procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-respiratory-therapies-artificial-respiration.json

NOTE: that resource seem to be invalid because of the extension in the performedDateTime https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-respiratory-therapies-artificial-respiration.json#L35

I'

[2021-01-28 17:35] ppazos opened #166 "Add valid test alternatives for apheresis procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-apheresis-with-not-performed-performedDateTime.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0104+Procedure

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/P

[2021-01-28 17:37] ppazos opened #167 "Add valid test alternatives for dialysis procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-dialysis-with-performedDateTime-not-performed.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0104+Procedure

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Pr

[2021-01-28 20:10] ppazos opened #170 "Add valid test alternatives for extracorporeal membrane oxygenation procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-extracorporeal-membrane-oxygenation-in-progress.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0104+Procedure

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/

[2021-01-29 13:20] #167 closed, assigned to ppazos

[2021-01-29 13:21] #170 closed, assigned to ppazos

[2021-01-29 16:45] ppazos commented on #166
Merged.

[2021-01-29 16:45] #166 closed, assigned to ppazos

[2021-01-29 16:45] ppazos commented on #161
Merged.

[2021-01-29 16:45] #161 closed, assigned to ppazos

[2021-01-29 16:45] ppazos commented on #160
Merged.

[2021-01-29 16:45] #160 closed, assigned to ppazos

[2021-02-01 20:27] ppazos opened #174 "Add valid test alternatives for prone position procedure profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Procedure/create-prone-position-in-progress.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0104+Procedure

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Procedure/r4
- [x] Up

[2021-02-01 20:28] ppazos opened #175 "Add valid test alternatives for symptom covid19 condition profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Condition/create-symptoms-covid-19-present.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0102+Condition

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Procedure/r4
- [x] Upl

[2021-02-02 12:24] #174 closed, assigned to ppazos

[2021-02-02 12:25] #175 closed, assigned to ppazos

[2021-02-03 15:19] ppazos opened #180 "Add valid test alternatives for heart rate observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-heart-rate.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload examp

[2021-02-03 15:20] ppazos opened #181 "Add valid test alternatives for body temperature observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-body-temp.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload exampl

[2021-02-03 15:22] ppazos opened #182 "Add valid test alternatives for body height observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-body-height.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload exam

[2021-02-03 15:23] ppazos opened #183 "Add valid test alternatives for body weight observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-body-weight.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload exam

[2021-02-03 15:23] ppazos opened #184 "Add valid test alternatives for blood pressure observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-blood-pressure.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload e

[2021-02-04 07:39] #79 closed, assigned to subigre

[2021-02-04 07:49] subigre commented on #121
@ppazos , @SevKohler
I think that this issue might be close now that the versionUid is returned in the FHIR Bridge  response.

[code]

[2021-02-04 17:12] ppazos opened #187 "Fix symptoms examples"
## Background ##

We are generating examples to test the Symptoms COVID19 Condition profile. There is one of those examples that contains only the mandatory fields, but the validation violates this rule

unk-1: If verificationStatus is present, uncertaintyOfPresence-Extension SHALL NOT be present.
verificationStatus.exists()
 != Condition.modifierExtension.where(url =
'https://www.netzwerk-univers

[2021-02-04 18:18] #184 closed, assigned to ppazos

[2021-02-05 15:04] #187 closed, assigned to ppazos

[2021-02-05 15:05] #182 closed, assigned to ppazos

[2021-02-05 15:33] af-pwo opened #190 "422 errors in alternative paths for condition/Symptoms Covid 19 present"
## Test Case/s To Reproduce Issue

Alternative flows symptoms Covid 19 present

[code]

[code]

[2021-02-05 16:35] subigre opened #191 "Remove dual conversion from CompositionComposition and CompositionComponent"
## Background ##

The first implementation of the converter API allows of conversions in both directions:

- From FHIR to EHR
- From EHR to FHIR

The second direction is never used. However it introduces some additional code that might be clean up.

## Expected output ##

Remove all the code and complexity regarding conversion API that it is not needed in the integration flows and Apache Camel com

[2021-02-05 17:11] #142 closed, assigned to subigre

[2021-02-08 09:06] birgerhaarbrandt commented on #153
@ppazos @af-pwo what's the status on this? Does the mapping team need to do something?

[2021-02-08 09:08] birgerhaarbrandt commented on #106
@ppazos @af-dpe As there is no further conversation here since 18 days: what's the status?

[2021-02-08 09:16] af-dpe commented on #106
@birgerhaarbrandt  I suspect Pablo is currently focused on creating the json's for Peter. Actually, I had to attach the logs of the Fhir Bridge in agreement with Pablo, which I also did, but for some of the cases this does not provide any usable logs, e.g. if the response code is 201 instead of an expected 422.

[2021-02-08 16:41] af-pwo opened #193 "Unexpected errors in alternative paths for observation body height"
## Test Case/s To Reproduce Issue

Alternative flows Observation Body Height

[code]

[code]

[2021-02-08 17:00] af-pwo opened #194 "Unexpected errors in alternative paths for observation Blood Pressure"
# Test Case/s To Reproduce Issue
Alternative flows Observation Blood Pressure

# path to test case
tests/robot/OBSERVATION/01_create.robot
# robot command to execute related test case(s) in your terminal/console

robot -d results/ -L TRACE -i blood-pressureAND194 robot

# by tag

061 Create Observation Blood Pressure loinc instant
062 Create Observation Blood Pressure loinc period
063 Create Obser

[2021-02-08 18:11] ppazos commented on #153
@birgerhaarbrandt I did a change in the code but wasn't able to execute the robot tests. Asked @af-pwo to fix the robot command so I can execute them before and after my change to verify the fix.

[2021-02-08 22:32] ppazos commented on #152
@birgerhaarbrandt I found the source of this error "untersuchterAnalyt is required in FHIR Observation'" and started to fix it on this PR https://github.com/ehrbase/fhir-bridge/pull/196/files#diff-1dc4f5dc96b5e84dbd2305ba28c6459a4432f5effe891aa60c7838f68f095b36R116

The issue is there is a enum class that doesn't contain the codes used in the FHIR examples we have for testing, and that enum (Unter

[2021-02-09 16:27] #153 closed, assigned to ppazos, birgerhaarbrandt

[2021-02-10 05:35] ppazos commented on #95
@af-dpe @af-pwo

+ BUG TRACE 01 IMO is not a bug. The profile says a list of codes is "recommended" for the category, which is not a hard requirement. Also, IIRC we have the terminology validator turned off, if that is turned on, I think the wrong code will be validated against the coding system observation-category, which will give the expected result by the test. Maybe @subigre can give input on

[2021-02-10 07:21] subigre commented on #95
Regarding point 1:

@ppazos, you are absolutely right 👍

Here is the binding provided in `Pregnancy Status` profile:
[code]
The value of  `strength` element is `preferred` and here is the definition (from [FHIR specification](http://hl7.org/fhir/R4/valueset-binding-strength.html))

Therefore, even with the terminology validation turned on, the following example will be accepted:
[code]
The code sy

[2021-02-10 09:12] ppazos commented on #95
@subigre thank you, I'm learning a lot from you :)

[2021-02-10 09:24] af-dpe commented on #95
Hi @ppazos

first things first i will remove **Bug trace 1** from the suite, thats no big deal :)

- [x]  remove Bug Trace 1 from test suite

But for **Bug trace 2** i have a question so the plan is to fix this issue? But would it than not make more sense to hold this bug trace test? Its just a test which will be skipped until the issue is solved -> just asking before we change there something ;)

[2021-02-10 16:33] af-pwo opened #199 "Unexpected 400 Errors in 17_create_blood_gas_panel.robot"
## Test Case/s To Reproduce Issue

BUG TRACE 01 Create Blood Gas Panel (Invalid/Missing 'subject')

[code]

[code]

[2021-02-10 21:14] ppazos commented on #95
@af-dpe I have sent a fix for bug trace 02, where the missing valueCodeableConcept is treated as UNKNOWN. So for now those tests will return 201 not 422.

Next I'll check the data absent reason cases.

[2021-02-11 11:56] birgerhaarbrandt opened #202 "Make execution of Robot Tests configurable"
## Background ##

At the moment, test execution is only targeting a local FHIR Bridge instance. However, in many scenarios like the CODEX project, it is required to target a remote server. In this case specifically, the goal is to have the test data sent by the Robot tests available for testing and demonstration purposes.

## Expected output ##

- [ ] Robot tests can be executed on a remote FHIR B

[2021-02-12 17:39] ppazos commented on #95
@af-dpe I have tested BUG TRACE 03 after merging the fix for BUG TRACE 02 and I'm not getting validation errors there, all are 201. This also depends on the rules in the profile. If we update the profile to the latest version, we will get different validation errors.

I tested with the latest pregnancy-status profile and I'm seeing other errors:

[code]

[2021-02-15 12:20] SevKohler opened #203 "Create Documentation for radiology report and pulse oxymetry mapping"
Create Documentation for radiology report and pulse oxymetry mapping

[2021-02-16 10:32] subigre opened #204 "Fix Critical and Major issues and decrease number of Minor issues reported by SonarCloud"
## Background ##

The last report generated by SonarCloud contains more than 3.000 issues regarding the FHIR Bridge.

## Expected output ##

- [ ] Critical and Major issues should be fixed
- [ ] Number of Minor issues should decrease

## Success criteria ##

- [ ] No Critical or Major issues are reported
- [ ] Number of Minor issues is lower

[2021-02-16 11:12] subigre opened #205 "Fix issue regarding output location for MappingOutput.json file"
## Steps to reproduce ##

Deploy de FHIR Bridge using Docker and send a request to create a FHIR resource.

## Actual result ##

NullPointerException and java.io.FileNotFoundException: src/main/resources/MappingOutput.json (No such file or directory)

## Expected result ##

The application should works and the file should be created in a configurable location.

## Success criteria ##

- [ ] The de

[2021-02-16 13:17] subigre commented on #205
Fixed #206

[2021-02-16 23:52] ppazos commented on #153
@birgerhaarbrandt I think the fix to this is what I mentioned about removing codes that are hardcoded in templates so the SDK generator doesn't create a enum and the person doing the mapping can assign the codes freely. IF the code is not in the enum, the mapping can't be done. Another strategy would be to use the codes that come in the FHIR resource without any mappings.

[2021-02-17 16:25] #181 closed, assigned to ppazos

[2021-02-18 08:25] #183 closed, assigned to ppazos

[2021-02-18 14:18] #180 closed, assigned to ppazos

[2021-02-18 15:57] SevKohler commented on #205
Please add Docuemntation to the wiki and an default output to the yml.

[2021-02-18 16:47] af-pwo opened #212 "Unexpected errors in alternative paths for observation Heart Rate"
## Test Case/s To Reproduce Issue
Alternative Flows Observation Heart Rate

[code]

[code]

[2021-02-19 08:27] subigre commented on #205
@SevKohler I apologize for the inconvenient made with this change and also because I forgot to inform you.

I have updated code in order to help @wlad that was blocked using the FHIR Bridge before my departure last Thuesday.
The use of the static path `src/main/resources/MappingOutput.json` prevented the Docker image published to start correctly.

I am not sure that we have to provide a default va

[2021-02-19 12:11] jsachau opened #215 "Reintegrate Code Quality Changes in PatientInICU"
Some updates were made to the old fhir-bridge where I improved the code quality of the _PatientInICU_ mapping. The changes were accepted but not migrated to fhir-bridge-poc. Thus I need to reintegrate the old mapping class.

[2021-02-19 12:15] jsachau opened #216 "Fix incorrect effective time mapping in Laborbefund"
@wulffant pointed out that the value _effective_ should not be mapped to `ZeitpunktDerValidierung` in the _Laborbefund_ mapping. The opt was updated and must be integrated into fhir-bridge. The mapping of that specific value must be removed, too.

[2021-02-19 12:21] af-pwo opened #217 "Unexpected errors in alternative paths for observation Body Temperature"
## Test Case/s To Reproduce Issue
Alternative Flows Observation Body Temperature

[code]

[code]

[2021-02-19 12:32] af-pwo opened #218 "Unexpected errors in alternative paths for observation Body Weight"
## Test Case/s To Reproduce Issue
Alternative Flows Observation Body Weight

[code]

[code]

[2021-02-19 12:51] jsachau commented on #216
As the .opt file has changed, the composition classes need to be updated. Unfortunately, the openEHR SDK has a known bug which prevents the SDK from generating Enum Classes for definingcodes with multiple terminologies. We need to wait for @stefanspiska to resolve the bug before we can fix this issue.

[2021-02-19 13:59] #202 closed, assigned to wlad

[2021-02-20 00:22] ppazos opened #222 "Add valid test alternatives for SOFA score observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-sofa-score.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload examp

[2021-02-20 00:22] ppazos opened #223 "Add valid test alternatives for smoking status observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-smoking-status.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Upload e

[2021-02-21 18:53] SevKohler commented on #205
1. i agree with debug being false, nevertheless adding an default path seems to be a good idea to me.
I updated the wiki already and added a standard output path. Default for debug is still false. I hope this is okay for you.

[2021-02-22 16:46] af-pwo opened #227 "500 Internal Server Error in invalid test suite Diagnostic Report Radiology"
## Test Case/s To Reproduce Issue
Invalid Profile Diagnostic Report Radiology

[code]

[code]

[2021-02-22 16:59] af-pwo opened #228 "Unexpected 201 Responses in invalid Profile Diagnostic Report Radiology"
## Test Case/s To Reproduce Issue
Invalid Profile Diagnostic Report Radiology

[code]

[code]

[2021-02-22 17:20] ppazos commented on #223
Done

[2021-02-22 17:20] #223 closed, assigned to ppazos

[2021-02-22 17:22] ppazos opened #230 "Add valid test alternatives for oxygen saturation observation profile"
## Background ##

Based on https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Observation/create-oxygen-saturation.json

## Expected output ##

Add data combination alternatives considering the specification here https://wiki.vitagroup.ag/display/NUM/0101+Observation

## Success criteria ##

- [x] Validate examples https://1up.health/dev/fhir/resource/Observation/r4
- [x] Uploa

[2021-02-22 17:22] ppazos commented on #222
Done

[2021-02-22 17:22] #222 closed, assigned to ppazos

[2021-02-23 09:59] SevKohler commented on #199
Please try the test again, there where some fixes for bloodgas. I would also suggest you assign these bugs to the people that wrote that mapping/s (in this case it is me) instead of @ppazos ?

[2021-02-23 10:40] SevKohler commented on #42
Tests are already added to the bridge

[2021-02-23 10:40] #42 closed, assigned to SevKohler

[2021-02-23 10:40] SevKohler commented on #37
Flows are documented in the wiki

[2021-02-23 10:40] #37 closed, assigned to ppazos, SevKohler, subigre

[2021-02-23 11:12] SevKohler commented on #205
i added a default path to the yml and updated the wiki.

[2021-02-23 11:12] #205 closed, assigned to nobody

[2021-02-23 15:57] #228 closed, assigned to ppazos, SevKohler

[2021-02-23 17:13] #230 closed, assigned to ppazos

[2021-02-23 17:32] #227 closed, assigned to ppazos, SevKohler

[2021-02-23 23:56] ppazos commented on #81
@jsachau can we close this issue?

[2021-02-24 00:41] ppazos commented on #89
@af-dpe

I have tested BUG TRACE 1 and doesn't seem to be an issue, the server is retrieving 201 even if the category.coding.system and category.coding.code are changed for any other value. In the current profile there are no constraints on the values there, and the whole category is optional.

For BUG TRACE 2, in the profile there isn't a constraint on valueCodeableConcept.coding.system, so it ca

[2021-02-24 15:27] af-pwo opened #239 "Unexpected Errors in alternative Flow Sofa Score"
## Test Case/s To Reproduce Issue
Alternative Flows Observation Sofa Score

[code]

[code]

[2021-02-24 15:31] af-pwo opened #240 "Unexpected Errors in Alternative Flow Smoking Status"
## Test Case/s To Reproduce Issue
Alternative Flows Observation Smoking Status

[code]

[code]

[2021-02-24 18:34] SevKohler commented on #239
wip [branch](https://github.com/ehrbase/fhir-bridge/tree/fix_%23239)

[2021-02-24 23:51] ppazos commented on #95
@subigre quick question, please read the previous comment, this profile (https://simplifier.net/forschungsnetzcovid-19/pregnancystatus) requires subject.reference and it seems we are not using it for the patient identification.

What do you think?

I'll tell the editors about this, because is inconsistent with the rest of the profiles, maybe it's an error.

[2021-02-25 01:42] ppazos commented on #100
@af-dpe @af-pwo

For BUG TRACE 01 I'm getting "create sofa score with ehr reference" expected 3 arguments and got 5.

The extra 2 arguments are ERROR MESSAGE and LOCATION.

Maybe the keyword is outdated?

See https://github.com/ehrbase/fhir-bridge/blob/develop/tests/robot/OBSERVATION/10_create_sofa_score.robot#L939

----

BUG TRACE 03, 04, 05, 06, 07 and 08 are passing.

---

Even though those rob

[2021-02-25 07:11] af-pwo commented on #89
Will be closed when https://github.com/ehrbase/fhir-bridge/pull/256 is merged

[2021-02-25 07:47] af-pwo commented on #199
Fixed by changing the JSONs

[2021-02-25 11:01] subigre commented on #95
@ppazos, IMHO, the problem comes from the profile definition. It should not constraint `Observation.subject.reference` as required element but only `Observation.subject`.

According to the FHIR specification, `reference` is the a location at which the Patient resource is found. In our case, we do not have such Patient resource available. However, we are using the "Patient Number" (and the associat

[2021-02-25 17:12] subigre opened #246 "Maven build fails on develop branch"
## Steps to reproduce ##

`mvn package`

## Actual result ##

[code]

## Expected result ##
Maven build should work properly.

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
- [ ] Build without errors
- [ ] Release notes prepared
- [ ] Runtime warnings

[2021-02-25 17:14] wlad opened #247 "Randomly failing tests during parallel test execution (pabot)"
## Steps to reproduce ##

Can't be reproduced exactly since the tests do not fail always. Check [related CI builds]( https://app.circleci.com/pipelines/github/ehrbase/fhir-bridge?branch=feature%2FNUM-1061_Parallel-test-execution)

## Actual result ##

So far I observed 6 TCs that were impacted --> Check [example test result](https://1674-305756851-gh.circle-artifacts.com/0/00_robot_results/report.

[2021-02-25 17:15] ppazos commented on #95
@subigre thanks for the explanation, that's very clear. I gor a message from the editors and they confirmed that's an error. When this error is fixed I'll update the profile.

[2021-02-25 17:36] subigre commented on #240
The error is logic according to the following code in `SmokingStatusCompositionConverter` (line 45):
[code]
According to the SmokingStatus profile, `effectiveDateTime ` is not mandatory. As a result, a NullPointerException occurs when `.toZonedDateTime()` is invoked when the value is not provided in the JSON.

I just pushed the following fix:
[code]

[2021-02-25 18:35] ppazos commented on #240
thanks @subigre that is a known issue of many mappings that were not taking into account the alternatives for effective[x]

[2021-02-25 18:59] ppazos commented on #100
I'll raise other detected problems as other issues. Done.

[2021-02-25 18:59] #100 closed, assigned to ppazos

[2021-02-25 19:01] ppazos opened #250 "Missing code mappings for SOFA score"
There are missing codes for the mapping of the SOFA score.

## Steps to reproduce ##

POST the sofa score JSON.

## Actual result ##

Failure during REST processing: ca.uhn.fhir.rest.server.exceptions.UnprocessableEntityException: Either the code cvs0 or ns4 is not valid for the cardiovaskular score

## Expected result ##

Should map without problems.

## Success criteria ##

- [ ] The defect has

[2021-02-25 19:02] ppazos opened #251 "SOFA Score exception 1"
## Steps to reproduce ##

Execute robot tests for SOFA score.

## Actual result ##

ca.uhn.fhir.rest.server.exceptions.UnprocessableEntityException: EhrId not found for subject 'foobar'
	at org.ehrbase.fhirbridge.camel.processor.EhrIdLookupProcessor.process(EhrIdLookupProcessor.java:58) ~[classes!/:na]
	at org.apache.camel.support.processor.DelegateSyncProcessor.process(DelegateSyncProcessor.java:

[2021-02-25 19:06] ppazos opened #252 "SOFA Score exception 2"
## Steps to reproduce ##

Execute robot tests for SOFA score.

## Actual result ##

ca.uhn.fhir.rest.server.exceptions.UnprocessableEntityException: Default profile is not supported for Observation. One of the following profiles is expected: [https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/body-height, https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/bloo

[2021-02-25 19:07] ppazos opened #253 "SOFA Score exception 3"
## Steps to reproduce ##

Execute robot tests for SOFA score.

## Actual result ##

ca.uhn.fhir.rest.server.exceptions.UnprocessableEntityException: Index 0 out of bounds for length 0
	at org.ehrbase.fhirbridge.ehr.converter.sofascore.SofaScoreCompositionConverter.toComposition(SofaScoreCompositionConverter.java:52) ~[classes!/:na]
	at org.ehrbase.fhirbridge.ehr.converter.sofascore.SofaScoreCompos

[2021-02-25 19:15] ppazos commented on #250
The problem is the SOFA.opt is missing those codes.

1. The OPT should have those codes https://simplifier.net/forschungsnetzcovid-19/sofa-score-cs
2. The Java code in SofaScoreCode should be updated
3. The Java code in SofaScoreObservationConverter should be updated
4. Rerun the robot tests to verify the issue is solved

[2021-02-25 19:19] ppazos commented on #250
BLOCKED BY: the OPT should be updated.

[2021-02-26 09:04] SevKohler commented on #246
Was my mistake, shoul work now.

[2021-02-26 09:43] SevKohler commented on #253
I need the json that was send in order to identify the error, if this has smt to do with the datetime im already fixing this.

[2021-02-26 10:23] SevKohler opened #255 "Refactor and improve Conversion API"
## Background ##

the identifier needs to be mapped to location, also the language needs to be taken from the resource submitted.
Since this has to be done for all converters, add and extend an Observation and Composition class from which the auto generated classes will inherit these mappings.

## Expected output ##

Add items here or describe what is expected as the result of the task, i.e. a wik

[2021-02-26 15:42] af-pwo commented on #199
Fixed via https://github.com/ehrbase/fhir-bridge/pull/244

[2021-02-26 15:42] #199 closed, assigned to ppazos

[2021-02-26 16:20] af-pwo commented on #95
Will be closed once https://github.com/ehrbase/fhir-bridge/pull/256 is merged

[2021-02-26 16:34] af-pwo commented on #103
@ppazos
Bug Trace 2 is resolved in this PR https://github.com/ehrbase/fhir-bridge/pull/256.

Bug Trace 1 throws this error message in Robot:

`java.util.GregorianCalendar.toZonedDateTime()" because the return value of "org.hl7.fhir.r4.model.DateTimeType.getValueAsCalendar()" is null`

And this Stack Trace

2021-02-26 17:33:31.377 ERROR 4076 --- [nio-8888-exec-2] o.a.c.p.e.DefaultErrorHandler

[2021-02-26 19:02] ppazos commented on #253
@SevKohler I'm working on these issues, please check the assignee field.

[2021-02-26 20:05] ppazos commented on #240
Done.

[2021-02-26 20:05] #240 closed, assigned to ppazos, subigre

[2021-02-26 21:37] ppazos commented on #251
@subigre quick question, this exception (*) is reaching the top level and shown in the FHIR bridge terminal. Is there a way to return the 422 on the FHIR API, log the error and avoid printing the whole exception in the console? I guess something like a logger.error() will be enough.

(*) https://github.com/ehrbase/fhir-bridge/blob/c761598c1e665725fabe76b5b532a283c83b54e9/src/main/java/org/ehrbase/

[2021-02-26 23:43] ppazos commented on #253
The issue is caused because SofaScoreObservationConverter is accessing the FHIR data using indexes, without checking if the index exists. Accessing data by index generates another problem: in the JSON the order is not enforced, it should get the specific component by code.

[code]

[2021-03-01 07:36] subigre commented on #251
@ppazos I fully agree with you 👍
I made the same remark to myself when I checked the logfile regarding #247.
I have this improvement on my todo list and I will try to change that by tomorrow or Firday.

[2021-03-01 09:19] birgerhaarbrandt opened #257 "Missing GET requests for"
## Steps to reproduce ##

Create a GET request for any resource in FHIR-Bridge

## Actual result ##

![fail](https://user-images.githubusercontent.com/2463423/109476760-8b32ef00-7a77-11eb-9ba2-0b8a7ed64ea7.png)

## Expected result ##

Should just provide back the correct resource.

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test

[2021-03-01 11:59] #215 closed, assigned to jsachau

[2021-03-01 15:53] #89 closed, assigned to ppazos, birgerhaarbrandt

[2021-03-01 15:54] #95 closed, assigned to ppazos

[2021-03-01 15:54] #103 closed, assigned to ppazos

[2021-03-02 10:17] SevKohler commented on #255
relates #216

[2021-03-02 10:18] SevKohler commented on #121
can we close this then ?

[2021-03-02 10:19] #81 closed, assigned to ppazos

[2021-03-02 10:19] SevKohler commented on #106
Is this fixed or still a problem ?

[2021-03-02 11:25] subigre commented on #121
I would say yes if the current solution is fine for you

[2021-03-02 12:46] subigre commented on #246
Thank you, it works now :)

[2021-03-02 12:46] #246 closed, assigned to nobody

[2021-03-02 22:22] subigre commented on #257
I have implemented the search for Patient resource.

However I am encountering an issue for the other resources and I have not found yet the solution to be able to search using `subject.identifier`.

The problem is that HAPI FHIR JPA Server does not support search using the following JSON because the `identifier` is not indexed.

[code]

[2021-03-03 01:49] ppazos commented on #252
@subigre I think this is the same as the #251 (the exception reaching top level when the 422 response + the audit log might be enough)

[2021-03-03 01:55] ppazos commented on #250
The OPT was updated: https://ckm.highmed.org/ckm/templates/1246.169.1056

[2021-03-03 08:13] #121 closed, assigned to nobody

[2021-03-03 16:28] af-pwo opened #261 "500 Internal Server Errors in negative parameter 'severity' Symptoms Covid-19"
## Test Case/s To Reproduce Issue
Negative Flow Symptoms Covid-19

[code]

[code]

[2021-03-03 16:41] af-pwo opened #262 "500 Internal Server Errors in negative parameter 'code' Symptoms Covid-19"
## Test Case/s To Reproduce Issue
Negative Flow Symptoms Covid-19

[code]

[code]

[2021-03-04 12:01] #203 closed, assigned to nobody

[2021-03-05 13:54] subigre commented on #257
The issue regarding `search` operation and [chained resource references](https://hapifhir.io/hapi-fhir/docs/server_plain/rest_operations_search.html#chained-resource-references) that are not working is due to the fact that we do not have a Patient resource linked to the given Observation.

[code]

Using the example above, `Observation.subject.identifier` is not considered as a search parameter and

[2021-03-05 14:42] subigre opened #264 "Update MII-Reference profile"
## Background ##

According to https://github.com/ehrbase/fhir-bridge/issues/257#issuecomment-791433653, the MII-Reference profile must be updated to remove the following constraint:

[code]

## Expected output ##
The following should ba accepted in all resources and profiles:
[code]

## Success criteria ##

- [ ] Output has been reviewed or presented and has been approved
- [ ] Documentation has

[2021-03-08 13:00] #253 closed, assigned to ppazos

[2021-03-08 13:53] #239 closed, assigned to ppazos, SevKohler

[2021-03-09 10:10] #257 closed, assigned to subigre

[2021-03-09 11:28] SevKohler opened #268 "Check the values of setSettingDefiningCode since everything is entered as secondary medical care"
@birgerhaarbrandt we need to check these values, since they do net seem appropiate

[2021-03-10 12:52] af-pwo opened #269 "java.lang.IllegalArgumentException in alternative flow Sofa Score"
## Test Case/s To Reproduce Issue
Alternative Flow Sofa Score

[code]

[code]

[2021-03-11 08:10] subigre opened #270 "Improve the Exception Handling mechnism using Camel"
## Background ##

Improve Exception handling mechanism using Apache Camel in oorder to avoid having the full stacktrace in the log when the error comes from the client (ValidationException)

## Expected output ##

The validations errors are reported as simple `WARN` messages by Camel

## Success criteria ##

- [ ] Output has been reviewed or presented and has been approved
- [ ] Documentation has

[2021-03-11 08:15] subigre opened #271 "Add support for addtional search parameters"
## Background ##

Relates #257, search operations should support additional parameters

## Acceptance criteria ##

Search operations support additional parameter than `subject.identifier`
https://www.hl7.org/fhir/search.html

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updated documentation (Javadoc and Sphinx)
- [ ] Acceptance criteria

[2021-03-12 15:08] subigre commented on #271
FHIR Bridge transactions that use `search` operation now support search parameters:

- Common => https://www.hl7.org/fhir/search.html#all
- AuditEvent => https://www.hl7.org/fhir/auditevent.html#search
- Condition => https://www.hl7.org/fhir/condition.html#search
- DiagnosticReport => https://www.hl7.org/fhir/diagnosticreport.html#search
- Observation => https://www.hl7.org/fhir/observation.html#s

[2021-03-12 15:11] subigre commented on #271
- Consent => https://www.hl7.org/fhir/consent.html#search (Implemented in an other [branch](https://github.com/ehrbase/fhir-bridge/tree/feature/fix_255_refactoring) as it is not yet merged in develop)

[2021-03-14 19:09] #271 closed, assigned to subigre

[2021-03-16 09:01] #264 closed, assigned to subigre

[2021-03-16 15:08] subigre opened #273 "OpenEHR Composition and startTimeValue"
## Steps to reproduce ##

@SevKohler and I discover some inconsistencies when `effective[x]` element is missing from the input FHIR resource in the Converter regarding the `startTimeValue`.

## Actual result ##
In some mappings:
[code]
in some others
[code]

## Expected result ##

We should be coherent and use the same behaviour in all converters.
@birgerhaarbrandt, could you please tell us what i

[2021-03-16 16:28] af-pwo opened #274 "org.hl7.fhir.exceptions.FHIRException: Type mismatch in alternative flow Oxygen Saturation"
# Test Case/s To Reproduce Issue
Alternative flows Oxygen Saturation

# path to test case
tests/robot/OBSERVATION/01_create.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/276

robot -d results/ -L TRACE -i oxygen-saturationAND274 robot

# by tag

094 Create Oxygen Saturation loinc period dat

[2021-03-16 16:29] af-pwo opened #275 "java.lang.NullPointerException: Cannot invoke "java.math.BigDecimal.doubleValue()" in alternative flow Oxygen Saturation"
# Test Case/s To Reproduce Issue
Alternative flows Oxygen Saturation

# path to test case
tests/robot/OBSERVATION/01_create.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/276

robot -d results/ -L TRACE -i oxygen-saturationAND275 robot

# by tag

092 Create Oxygen Saturation loinc datetime d

[2021-03-19 11:22] subigre commented on #191
Done in the following branch https://github.com/ehrbase/fhir-bridge/tree/feature/fix_255_refactoring

[2021-03-19 17:44] ppazos commented on #275
@af-pwo the issue is caused by the missing quantity, so there is a missing check there. Also it's probable, the mapping is not handling the dataAbsentReason, which should be mapped to a null_flavour in the openEHR ELEMENT.

[2021-03-19 17:45] ppazos commented on #274
@af-pwo the Period datatype is not being handled by the mapping.

@SevKohler did some fixes in that part for another mapping, he might apply the same solution here.

[2021-03-19 17:48] ppazos commented on #273
@subigre if this happens in the code:

[code]

It means the profile allows it, because if that code is reached, the validation worked. On that case, the mapping should work. So I would vote to remove those and set the date to now.

IMO the general criteria should be: if the profile validation of the resource works, the mapping should be successful, since all openEHR templates are based on those FH

[2021-03-19 17:53] ppazos commented on #269
@af-pwo there is a missing mapping to OBSERVATION.data.origin which should be a DV_DATE_TIME.

I think @SevKohler or @jsachau were working on the SOFA mapping.

[2021-03-19 17:55] ppazos commented on #268
@SevKohler in the FHIR profiles we generally don't receive information about the setting in which the care was given. I guess the value for this attribute could be set by some configuration, but we will not be sure unless we receive that info in the FHIR resource.

[2021-03-22 07:50] subigre commented on #273
@ppazos Many thanks for your reply. It make sense 👍

[2021-03-24 18:17] af-pwo opened #281 "NullPointerException: Cannot invoke "org.hl7.fhir.r4.model.Extension.getExtensionByUrl(String)" in invalid Profile Patient"
# Test Case/s To Reproduce Issue
Invalid Profile Patient

# path to test case
tests/robot/PATIENT/02_create_patient.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/283

robot -d results/ -L TRACE -i patientAND281 robot

# by tag

BUG TRACE 01 Create Patient (Invalid/Missing 'extension')

inva

[2021-03-24 18:24] af-pwo opened #282 "NullPointerException: Cannot invoke "java.math.BigDecimal.intValue()" in invalid Profile Patient"
# Test Case/s To Reproduce Issue
Invalid Profile Patient

# path to test case
tests/robot/PATIENT/02_create_patient.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/283

robot -d results/ -L TRACE -i patientAND282 robot

# by tag

BUG TRACE 02 Create Patient (Invalid/Missing 'extension')

$.ex

[2021-03-26 08:37] subigre opened #284 "Implement CORS feature for Spring MVC"
## Background ##

This commit https://github.com/ehrbase/fhir-bridge/commit/f78343d2b6fb4ab4f8907a3f5e60ed03a0480f13 fixed the issue regarding CORS configuration for HAPI FHIR.
However Spring MVC is not configured accordingly using the same properties.

## Acceptance criteria ##

Spring MVC and HAPI FHIR should be configured based on CorsProperties

- [ ] Rename `fhir-bridge.fhir.cors` to `fhir-br

[2021-03-26 09:53] #255 closed, assigned to SevKohler, subigre

[2021-03-26 11:23] subigre commented on #191
Refactoring has been merged in develop

[2021-03-26 11:23] #191 closed, assigned to subigre

[2021-03-26 15:58] af-pwo opened #287 "500 internal server error in alternative path prone position"
# Test Case/s To Reproduce Issue
Alternative path Procedure Prone Position

# path to test case
tests/robot/PROCEDURE/01_create.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/283

robot -d results/ -L TRACE -i 287 robot

# by tag

064 Create Generic Therapy - Prone Position sct period
065 Cr

[2021-03-26 16:15] af-pwo opened #288 "Unexpected 422 Errors in Condition examples"
# Test Case/s To Reproduce Issue
Various Conditions

# path to test case
tests/robot/CONDITION/01_create.robot

# robot command to execute related test case(s) in your terminal/console
You have to be in this branch:
https://github.com/ehrbase/fhir-bridge/pull/283

robot -d results/ -L TRACE -i 288 robot

# by test case name

036 Create Chronic Kidney Disease (Disorder - Unknown)
040 Create Chronic

[2021-03-29 09:37] fkaercher opened #289 "Questionnaire - Code above-42C is not accepted"
## Steps to reproduce ##

Question: "Wie hoch war die höchste Temperatur ca.?"   Selected answer: "Über 42°C"

## Actual result ##

Error: ""fewer max temperature: above-42C is not a valid code value !"

## Expected result ##

The code "above-42C" should be accepted.

## Success criteria ##

- [x ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [

[2021-03-29 09:51] fkaercher opened #290 "Questionnaire - fewer max temperature: LA32-8 is not accepted"
## Steps to reproduce ##

Question: "Wie hoch war die höchste Temperatur ca.?" Selected answer: "Ich weiß es nicht"

## Actual result ##

Error: "fewer max temperature: LA32-8 is not a valid code value !"

## Expected result ##

The code "LA32-8" should be accepted.

## Success criteria ##

- [x ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ]

[2021-04-06 09:58] SevKohler commented on #252
is this still a problem ?

[2021-04-06 09:58] SevKohler commented on #251
@subigre is this already fixed ?

[2021-04-06 09:59] SevKohler commented on #250
fixed by newest commit, can you check that @ppazos

[2021-04-06 10:51] SevKohler commented on #273
This should have been fixed with the newest refactoring can you check that @ppazos  @subigre

[2021-04-06 20:02] ppazos commented on #250
@SevKohler after pulling for branch fix_sofa_score, recompiling, retesting and comparing the results, the json generated is the same (has the same issue as the one I checked before, the code for ordinal 3 is still at0008 instead of the correct at0018), are the changes on that branch? Maybe I'm pulling from the wrong branch.

[code]

[2021-04-06 20:17] subigre commented on #251
Not yet, I still have some issues with the terminology validation in Ehrbase😢

[2021-04-07 17:37] ppazos commented on #250
@SevKohler tested develop branch and still see the same data going to the EHRBASE: at0008 should be at0018 (which is mapped to ordinal 3 for element at0004):

[code]

[2021-04-07 17:49] ppazos commented on #252
I think this is similar to #251, if the other one is not fixed, this is no fixed.

[2021-04-08 08:58] SevKohler commented on #250
@ppazos
Thats not the case for the updated SOFA score as far as i can see it:
https://ckm.highmed.org/ckm/templates/1246.169.1056
You are referring to the old sofa score coding where at0018 was the number, now its at0008 at least thats whats in the opt, as far as i can see it ?
Did you stop and delete ehrbase containers if using docker, the database has to be rebuilded in order to test, i just tes

[2021-04-08 11:57] SevKohler commented on #193
@wlad when executing : robot -d results/ -L TRACE -i body-heightAND193 robot
i get:
[ ERROR ] Suite 'Robot' contains no tests matching tag 'body-height AND 193'.
Do i need to switch the branch ?

[2021-04-08 11:58] #216 closed, assigned to jsachau

[2021-04-08 12:00] SevKohler commented on #218
@wlad can you rerun this test, when running locally it passes

[2021-04-08 12:02] SevKohler commented on #261
When running: robot -d results/ -L TRACE -i symptoms-covid-19ANDinvalid
i get:
[ ERROR ] Expected at least 1 argument, got 0.

[2021-04-08 12:03] SevKohler commented on #262
@wlad also passes locally, can you check so i can close the issue

[2021-04-08 12:05] SevKohler commented on #269
@ppazos robot passes when locally executed, can you verify that so we can close it ?

[2021-04-08 12:54] ppazos commented on #250
@SevKohler just checked the last version of the OPT in the bridge and has the mapping correct to at0008:

[code]

The problem is the bridge is not updating the template in ehrbase.

IMO, it should force the update of the template to ehrbase if the template was updated in the bridge. Without this, it will be an issue to update systems in production.

I'm not using containers, this is a local deploy

[2021-04-08 13:26] SevKohler commented on #250
Yeah we already talked about that internally. Its already noted, can we close this issue then ?

[2021-04-08 14:53] ppazos commented on #250
@SevKohler +1

[2021-04-08 14:53] #250 closed, assigned to ppazos

[2021-04-09 10:01] subigre opened #294 "Update template in EHRbase (if it exists) when the application startup"
## Background ##

Based on discussion with @SevKohler, we have to ensure that the templates are up to date when the FHIR Bridge starts up.
So instead of just ensuring that the templates exist, we have to update it if it is present.

## Acceptance criteria ##

When the FHIR Bridge is up and running:
- [ ] all templates are loaded in EHRbase with the last version included in the FHIR Bridge.

## Suc

[2021-04-14 17:28] wlad commented on #287
retested, passes locally and on CI
[code]

![image](https://user-images.githubusercontent.com/64201310/114753228-80969580-9d57-11eb-9abb-4d280d28d692.png)

[2021-04-14 17:28] #287 closed, assigned to ppazos, SevKohler

[2021-04-14 17:34] wlad commented on #269
retested, passes locally and on CI
[code]

![image](https://user-images.githubusercontent.com/64201310/114754077-75903500-9d58-11eb-9fed-6fb4203b54f2.png)

[2021-04-14 17:34] #269 closed, assigned to ppazos, SevKohler

[2021-04-14 18:44] wlad opened #300 "Unexpected server error on posting sofa-score Observation"
## Test Case/s To Reproduce Issue With Robot

[code]

[code]

## Steps To Reproduce Manually

[code]

## Actual Result

500 - Unexpected server error

[code]

## Expected Result

200/204

[2021-04-14 18:55] wlad opened #301 "Test fails with error "Start time is not defined in Procedure""
## Test Case/s To Reproduce Issue With Robot

[code]

[code]

## Steps To Reproduce Manually

[code]

## Actual Result

422

[code]

## Expected Result

200/204

[2021-04-20 07:09] subigre opened #304 "Add basic authentication to FHIR endpoints"
## Background ##

FHIR endpoint should support basic authentication.

## Acceptance criteria ##

- Basic authentication should be supported by FHIR endpoints and configurable using application properties.

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updated documentation (Javadoc and Sphinx)
- [ ] Acceptance criteria fulfilled
- [ ] Bui

[2021-04-20 08:14] #273 closed, assigned to birgerhaarbrandt, SevKohler, subigre

[2021-04-20 11:57] #251 closed, assigned to ppazos, subigre

[2021-04-20 11:57] #252 closed, assigned to ppazos

[2021-04-20 11:57] #270 closed, assigned to subigre

[2021-04-20 13:11] subigre opened #306 "Upgrade to HAPI FHIR 5.3.0"
## Background ##

Upgrade to HAPI FHIR 5.3.0.

## Expected output ##

The FHIR Bridge is running on HAPI FHIR 5.3.0.

- [x] Dependencies are upgraded
- [x] Liquibase change log is available

## Success criteria ##

- [x] Integration and Robots tests passed

[2021-04-20 14:03] #304 closed, assigned to subigre

[2021-04-21 14:30] #284 closed, assigned to subigre

[2021-04-22 12:38] SevKohler commented on #290
@SevKohler add also mapping test for this cases

[2021-04-22 15:28] SevKohler commented on #290
@fkaercher thats the wrong coding in the fewer class the code LA12688-0 is used for ich weiss es nicht see:
https://simplifier.net/data4lifefhirartifactsr4/fever-class-vs-de
So the message is correct

[2021-04-23 12:07] SevKohler commented on #289
fixed

[2021-04-23 12:07] #289 closed, assigned to SevKohler

[2021-04-23 12:08] SevKohler commented on #152
@ppazos since you fixed it via the PR can we close this ?

[2021-04-23 12:38] SevKohler commented on #301
fixed in #313
@wlad can you check

[2021-04-23 16:29] ppazos commented on #152
@SevKohler reading my last comment, this should be fixed in the OPT, my PR was a temporal thing, since the code is autogenerated. Were the codes in the OPT updated?

[2021-04-26 10:24] #301 closed, assigned to nobody

[2021-04-27 09:43] SevKohler commented on #300
fixed in #316

[2021-04-27 09:43] #300 closed, assigned to nobody

[2021-04-27 09:54] SevKohler commented on #288
@wlad HAPI blocks this since not valid FHIR as it seems.
@subigre can you verify that this is a invalid resource ?

[2021-04-27 10:13] subigre commented on #288
@SevKohler, is this issue still valid?
I just saw that you already merged the branch with develop

[2021-04-27 16:27] subigre commented on #288
@SevKohler, I checked all the input files used in the test cases mentioned above and the validation errors (HTTP 422) are "normal".
* `create-cardiovascular-diseases-coronary-arteriosclerosis.json`
* `create-cardiovascular-diseases-carotid-artery-stenosis.json`
* `create-chronic-neurological-or-mental-disease-parkinsons.json`
* `create-chronic-neurological-or-mental-disease-multiple-sclerosis.json

[2021-04-28 09:54] SevKohler commented on #282
related #320

[2021-04-28 10:57] #282 closed, assigned to ppazos, ErikTute

[2021-04-28 14:16] #288 closed, assigned to ppazos, SevKohler

[2021-04-28 14:29] wlad opened #321 "Remove `not-ready` tag from passing tests"
## Background ##

Remove `not-ready` tag from tests that are already passing on CI to prevent silent fails and thus missing potential regressions.

## Expected output ##

Test don't fail silently

## Success criteria ##

- [ ] Output has been reviewed or presented and has been approved

[2021-04-30 12:48] subigre opened #323 "Add support for MedicationStatement resource"
## Background ##

Add support for MedicationStatement resource

## Expected output ##

MedicationStatement resource is supported:

- [ ] Create transaction
- [ ] Find transaction

## Success criteria ##

- [ ] Output has been reviewed or presented and has been approved
- [ ] Documentation has been updated (Sphinx and Javadoc if applicable)

[2021-04-30 16:58] subigre commented on #323
Implemented in the commit mentioned just above.

[2021-04-30 16:58] #323 closed, assigned to subigre

[2021-04-30 17:01] subigre opened #324 "Add support for FHIR Immunization resource"
## Background

Add support for FHIR Immunization resource

## Expected output

Immunization resource as supported by the FHIR Bridge.

- [x] Support `Create Immunization` transaction
- [x] Support `Find Immunization` transaction

Success criteria

Output has been reviewed or presented and has been approved
Documentation has been updated (Sphinx and Javadoc if applicable)

[2021-05-04 10:11] subigre commented on #324
Done with commit b87f50d

[2021-05-04 10:11] #324 closed, assigned to subigre

[2021-05-04 10:19] subigre opened #327 "Support Conditional Create/Update"
## Background ##

FHIR Bridge must support the conditional `create` and `update` as defined in FHIR specifications:
- https://www.hl7.org/fhir/http.html#ccreate
- https://www.hl7.org/fhir/http.html#cond-update

## Acceptance criteria ##

All resource providers support conditional `create` operation using `If-None-Exist` HTTP headers.

- [ ] The conditional `create` is supported based on the `If-No

[2021-05-04 13:23] #306 closed, assigned to subigre

[2021-05-05 09:42] ErikTute commented on #212
@ppazos I had nothing to do with robot tests so far. Can you take care of this issue and #281? (I guess learning what robot tests are, why we are doing it and how I can use them would need more time than fixing these two issues)

[2021-05-05 14:07] ppazos commented on #212
@ErikTute robot is used for testing, the issue is about the result obtained from the test, something that should be fixed in code. If you want to replicate the test but don't want to use robot, you can just grab the resource used in the test and test manually. On the other hand, I had been asked explicitly to not touch the FHIR bridge code. Please as Birger if you need support from our side.

[2021-05-10 15:06] ErikTute commented on #212
@ppazos  @birgerhaarbrandt @SevKohler
Hi, I honestly wanted to and started to figure out whats wrong here, but again, I am a bad choice for this task:
- "grab the resource used and do it manually" does not help if you don't know shit about robot tests. I still have to understand whats happening to reproduce it, so I have to find my stuff in 432 lines of code I never saw before, just to reproduce t

[2021-05-11 07:11] birgerhaarbrandt commented on #212
@ppazos please address the issue directly and have a brief review with Severin afterwards. thx

[2021-05-11 14:23] #290 closed, assigned to SevKohler

[2021-05-12 02:48] ppazos commented on #212
# 075/078 fails on:

[code]

From create-heart-rate-loinc-period.json

The profile rule is: "vs-1: 'if Observation.effective[x] is dateTime and has a value then that value shall be precise to the day' failed"

The rule description doesn't seem to match what is being checked:

[code]

From: https://simplifier.net/forschungsnetzcovid-19/heartrate

# 076/079 fails on:

[code]

From create-heart-rate-

[2021-05-13 06:26] ppazos commented on #281
# Tests from 02_create_patient.robot

## 281: removing patient.extension[1] which is the 'age' extension

1. This test expects 422 when patient.extension[1] is really optional in the profile, so there is a bug in the test.
2. The profile validation passes because of that, and fails on AlterObservationConverter.convertInternal, since it tries to access the extension without checking if it's there,

[2021-05-17 09:31] #281 closed, assigned to ppazos

[2021-05-18 13:04] ZhuYufei990 opened #332 "Fehlermeldung bei Mapping von Encounter -> Patienten Aufenthalt"
## Steps to reproduce ##

checkout feature/NUM_119_Stat_Versorgunsfall+Patientenaufenthalt, import the Postman Collection in ./config/postman/fhir-bridge.postman_collection.json , try the request FHIR->Encounter->Create Patienten Aufenthalt

## Actual result ##

c.u.f.r.s.i.ExceptionHandlingInterceptor : Failure during REST processing

ca.uhn.fhir.rest.server.exceptions.InternalErrorException: Met

[2021-05-18 16:50] SevKohler commented on #332
[code]
Should do the trick

[2021-05-18 16:54] SevKohler commented on #332
I pushed it, you just need to pull !

[2021-05-18 16:54] #332 closed, assigned to SevKohler

[2021-05-19 04:26] ppazos commented on #212
Updated the heart rate profile, this solved the initial issue but generated other issues with robot tests.

I'm reviewing the tests that are failing and solving them.

[2021-05-19 15:21] ZhuYufei990 opened #334 "rename package org.ehrbase.fhirbridge.ehr.converter.specific.virologischerBefund to "geccovirologischerbefund""
## Steps to reproduce ##

package org.ehrbase.fhirbridge.ehr.converter.specific.virologischerBefund now in the project is actually for GECCO virologischer Befund, Mapping for the template with name "virologischer Befund" by SmICS is in progress.

## Actual result ##

conflict with package name

## Expected result ##

packages with full name bring no conflict.

## Success criteria ##

- [ ] The def

[2021-06-01 09:22] SevKohler commented on #334
Can you also rename DnrAnordnung package  to dnranordnung  when you do this, thanks.
https://github.com/ehrbase/fhir-bridge/tree/develop/src/main/java/org/ehrbase/fhirbridge/ehr/converter/specific/DnrAnordnung

[2021-06-01 10:49] subigre opened #337 "Code reactoring for Find Resource transaction"
Refactor the Camel route definitions for all `Find [resourcce type]` transactions.

Create a generic Camel processor to replace the following code:
[code]

by using:
[code]

[2021-06-01 11:35] #327 closed, assigned to subigre

[2021-06-01 12:08] ZhuYufei990 commented on #334
I've just renamed the both packages.

[2021-06-01 14:02] #334 closed, assigned to ZhuYufei990

[2021-06-01 15:10] subigre commented on #294
PR #296 merged

[2021-06-01 15:10] #294 closed, assigned to subigre

[2021-06-01 16:20] SevKohler opened #340 "Fix e.printStacktrace() code smells"
see sonarcloud

[2021-06-02 09:22] #337 closed, assigned to subigre

[2021-06-04 09:22] NormanWeinert opened #341 "Test failures and errors in fhir bridge"
## Steps to reproduce ##

Run fhir bridge with  "mvn clean verify -DskipITs=false"

## Actual result ##

4 test failures and 1 test error encountered:

[ERROR] Failures:
[ERROR]   DiagnosticReportIT.createWithInvalidCode:49 expected: <HTTP 422 : This element does not match any known slice defined in the profile https://www.medizininformatik-initiative.de/fhir/core/modul-labor/StructureDefinition/D

[2021-06-04 12:00] subigre opened #342 "Fix Snyk PR and upgrade dependencies"
## Background ##

Fix PR https://github.com/ehrbase/fhir-bridge/pull/78 and upgrade the following dependencies:
* Spring Boot 2.4.1 > 2.5.0
* IPF 4.0.0 > 4.0.1
* HAPI FHIR 5.3.3 > 5.4.0

## Expected output ##

FHIR Bridge works as expected

[2021-06-04 12:34] subigre commented on #341
@NormanWeinert, could you please tell me on which branch you are experiencing the issue?

I just tried on develop I do not have fail or error:
[code]

[2021-06-04 12:42] NormanWeinert commented on #341
@subigre Auf "feature/NUM-128_Virologischer-Befund" an dem ich gerade am arbeiten bin - ist schon etwas weiter als der jetzige comittete branch hierzu.
Ich habe nichts an den oben vorkommenden Testklassen geändert, deswegen dachte ich es müsste schon in develop auftauchen.

[2021-06-04 12:50] subigre commented on #341
I just noticed two things from your output:

1. You have 4 more tests than the current develop branch
2. The errors look stranges because the expected results are OK.
   However, the error messages are translated in German in your case:

[code]

[2021-06-04 12:58] NormanWeinert commented on #341
"1. You have 4 more tests than the current develop branch"

Yes, these are new tests for my conversion template that I am currently working on. They are not yet comitted.

"2. The errors look stranges because the expected results are OK.
However, the error messages are translated in German in your case: "

I don't know why this happens to be honest. I did not change any language setting for this t

[2021-06-04 13:05] subigre commented on #342
Spring Boot ✔️
IPF ✔️

HAPI FHIR ❌
5.4.0 includes somes breaking changes in IPF linked to the following PR https://github.com/hapifhir/hapi-fhir/issues/2511
The class org.hl7.fhir.r4.hapi.rest.server.ServerCapabilityStatementProvider has been deleted.

[2021-06-04 13:37] #342 closed, assigned to subigre

[2021-06-04 13:48] SevKohler commented on #341
Logically these messages are right (just in the wrong languages), therefore the tests are correct.  My developlment enviornment is also german therefore i often have the same failures, i just ignore those (since they are no failures), sonarcloud varifies their correctness in addition to that.

[2021-06-04 13:51] NormanWeinert commented on #341
Thank you for the information. I was not aware of that. Ok, then these can be ignored. I closed the issue now.

[2021-06-04 13:52] #341 closed, assigned to SevKohler

[2021-06-04 14:04] subigre commented on #341
@SevKohler, do you also have the issue?
I do not understand why it happens only with German and not in my case with French.
Or may be there is no error messages translated in French so I always receive the default English ones.
But just to be sure, I will have a look from where those messages comes from (HAPI FHIR or the `StructureDetfinition`) to check if it is only related to message translation

[2021-06-04 14:07] SevKohler commented on #341
I dont have a clue to be honest, my enviornment is actually english and so is my JDK. Would welcome if you take a look. Better would be if we could somehow define more specific types instead of comparing Exception strings. Anyhow i think this cost too much time, since priorities are else where for now. Would be nice if you could take a look.

[2021-06-11 08:19] NormanWeinert opened #344 "In branch "feature/NUM-128_Virologischer-Befund" the attribute "Ergebnis-Status" of the composition "Virologischer Befund" is not saved in the ehrbase server."
## Steps to reproduce ##

1.) Start fhir-bridge and ehrbase.
2.) Create Virologischer Befund with "src/test/resources/Bundle/VirologischerBefund/create-virologischer-befund.json"
3.) After the creation with result "200 OK" go to the swagger UI of ehrbase and find the just created composition. The result should be: "src/test/resources/Bundle/VirologischerBefund/paragon-create-virologischer-befund.j

[2021-06-18 13:43] SevKohler commented on #275
As @ppazos  already mentioned: An Ausschluss needs to be added to the template, since valuQuantity is absent. Which is currently not supported by the template, already communicated that to the modelling team.
Branch is here: https://github.com/ehrbase/fhir-bridge/tree/bug_%23274/add_absent

[2021-06-21 10:24] subigre opened #345 "Create an EHR if it does not already exist for the given Patient"
## Background ##

The FHIR Bridge currently throw an exception if there is no EHR matching the Patient Identifier in EHRbase.
The system should handle this case and create an EHR when it is needed.

## Acceptance criteria ##

The FHIR Bridge should create a new EHR for a given Patient if it does not already exist in EHRBase

- An EHR is created
- The provided FHIR is mapped and attached to the new

[2021-06-21 11:55] #268 closed, assigned to birgerhaarbrandt

[2021-06-21 11:55] #262 closed, assigned to ppazos

[2021-06-21 11:55] SevKohler commented on #261
@wlad maybe you can help me here

[2021-06-21 11:56] SevKohler commented on #212
@ppazos is it done ?

[2021-06-21 12:00] SevKohler commented on #194
Bug was fixed via refactoring, also as it seems, the robot test contains elements that are not compliant with the fhir resource definition @af-pwo @wlad  . Therefore the test needs to be fixed, before i can validate it again.

{
            "severity": "information",
            "code": "processing",
            "diagnostics": "Dieses Element stimmt mit keinem bekannten Slice defined in the profil

[2021-06-21 12:01] SevKohler commented on #218
@wlad

[2021-06-21 12:01] #218 closed, assigned to ppazos

[2021-06-21 12:05] SevKohler commented on #217
@af-pwo @wlad as it seems the test contains a malformed fhir resource that is not compliant with the defitionition of the resource. The initial bug is anyways fixed.
        {
            "severity": "information",
            "code": "processing",
            "diagnostics": "Dieses Element stimmt mit keinem bekannten Slice defined in the profile http://hl7.org/fhir/StructureDefinition/bodytemp üb

[2021-06-21 12:06] SevKohler commented on #193
@wlad @af-pwo

[2021-06-21 12:07] SevKohler commented on #190
@af-pwo @wlad  test is malformed and does not comply to the fhir resource defintion, therefore this is no bug.

[2021-06-21 14:47] SevKohler commented on #344
@ErikTute did already a virologischer befgund mapping initially.
 @NormanWeinert hjow does this mapping differ ?
 Sry i have problems following up after being sick .

 Did you check the mapping output before it was send to ehrbase ?
 Did it contain the fields that are afterwards missing ?
 If yes you need to put the issue to the ehrbase team.
 If not then there is a error in the mapping.

 You can

[2021-06-21 14:55] SevKohler commented on #152
i just communicated that to them, since no one did that as it seems ...
We now have to wait for the fix i already started an branch.

[2021-06-21 18:02] ppazos commented on #212
@SevKohler it seems you merged the fix https://github.com/ehrbase/fhir-bridge/pull/335 so I guess it's done.

[2021-06-21 18:02] #212 closed, assigned to ppazos

[2021-06-21 18:05] ppazos commented on #152
@SevKohler I would not do any coding for this one until the template is updated and the classes can be regenerated using that one, then update the mapping accordingly and check if there are any errors. With the right codes in the OPT this shouldn't be a problem any more.

[2021-06-22 09:18] NormanWeinert commented on #344
@SevKohler
At {java.io.tmpdir}/mappings the Ergebnis-Status field is also missing.

So there should be an error in the mapping.

[2021-06-22 11:05] #344 closed, assigned to SevKohler

[2021-06-24 07:30] NormanWeinert opened #348 "In fhir-bridge branch "feature/NUM-128_Virologischer-Befund" the attribute "Ergebnis-Status" of the composition "Virologischer Befund" is not saved in the ehrbase server."
## Configuration information

- EHRbase version: "0.16.5",
- openEHR_SDK version: "39cb1fd",
- Archie version: "5a4a9442e5e2516aed5f25636ac236682aace7b9",
- PostgreSQL version: "PostgreSQL 13.2, compiled by Visual C++ build 1914, 64-bit"
- Java Runtime version: "AdoptOpenJDK 11.0.11+9",
- Operating System version: "Windows 10 amd64 10.0",

## Steps to reproduce + Result ##

1.) Start fhir-bridge a

[2021-06-24 07:48] SevKohler commented on #348
@NormanWeinert i dont work on the openEHRSDK :D :(

[2021-06-24 09:46] #345 closed, assigned to subigre

[2021-06-25 12:53] subigre opened #347 "InternalErrorException apprers ramdomly when performing Search"
## Steps to reproduce ##

When performing `search` operation using the FHIR API, the following exception occurs randomly.

PS: @ppazos has also experienced this error yesterday.

## Actual result ##

[code]

## Expected result ##

No exception should appear.

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Re

[2021-06-28 08:58] stefanspiska commented on #348
@SevKohler @birgerhaarbrandt @subigre

Transferred the issue since it is About the Fhir bridge.

If this is caused by an underlining issue in the sdk. make a new issue in the sdk with steps to reproduce the issue  in the sdk without usage of the fhir -bridege.

[2021-06-28 09:11] SevKohler commented on #348
@stefanspiska this is an sdk error it was already in the fhir-bridge and we moved it to the SDK since the JSON marschalling is bugging as it seems.

[2021-06-28 09:12] #348 closed, assigned to nobody

[2021-06-28 11:51] subigre opened #349 "Add support for EHRbase OAuth2 authentication"
## Background ##

The current version of the FHIR Bridge only supports authentication with EHRbase using Basic Authentication mechanism.

However, some project requires to use EHRbase with OAuth2.

damit bei der NephroDigital Umgebung die Verbindung zwischen CASEPLUS und EHRBase klappt, müssen wir EHRBase im OAUTH2 Modus betrieben. Die FHIR-Bridge kann sich momentan aber nur zu EHRBase verbinden,

[2021-06-30 19:03] #349 closed, assigned to subigre

[2021-07-01 13:26] subigre opened #352 "General improvement regarding Patient resource and subject.reference/subject.identifier"
## Background ##

The current version of the FHIR Bridge has an issue regarding `Patient` resource and the `subject.reference`/`subject.identifier` .

This [comment](https://github.com/ehrbase/fhir-bridge/issues/257#issuecomment-791433653) explains the issue for the `search` operation but the same problem appears for `create` operation if aclient want to link a resource to an existing patient.

##

[2021-07-01 15:57] subigre opened #353 "Error "Getting datenZurGeburt failed" while creating a Patient without a birth date"
## Steps to reproduce ##

According to the profile https://simplifier.net/forschungsnetzcovid-19/patient, `birthDate` must be supported but it is not mandatory.

The current implementation returns an error when I try to create the following resource:

[code]

## Actual result ##

`Status: 422 Unprocessable Entity`

[code]

## Expected result ##

`Status: 201 Created`

[code]
## Success criteria ##

[2021-07-05 06:47] subigre opened #354 "Code refactoring: `Encounter` resource"
## Background ##

Support for `Encounter` resource needs to be refactor to use the same principal than the other resources.

## Acceptance criteria ##

The ConversionService does not contain the following method and the Camel route definition is the same than the other resource.

[code]

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updat

[2021-07-05 12:34] SevKohler commented on #152
fixed by #355
Nevertheless a new bug appeared in the search, this is due to current bridge changes.
Initial create error is fixed.

[2021-07-05 13:23] SevKohler commented on #152
@subigre will fix this search

[2021-07-05 13:52] SevKohler opened #357 "Fix names to comply with Java spec"
e.g. https://sonarcloud.io/project/issues?id=ehrbase_fhir-bridge&open=AXdzQp_ZJQHlWLtrmGf4&resolved=false&severities=CRITICAL&types=CODE_SMELL

[2021-07-05 14:07] SevKohler opened #359 "fix the number duplication error by moving codings to the opt folder"

[2021-07-05 14:56] SevKohler commented on #340
related #356

[2021-07-05 14:56] SevKohler commented on #357
related #358

[2021-07-05 14:56] SevKohler commented on #359
related #360

[2021-07-05 15:16] #357 closed, assigned to SevKohler

[2021-07-05 15:57] #359 closed, assigned to nobody

[2021-07-06 13:56] #352 closed, assigned to subigre

[2021-07-06 13:56] #354 closed, assigned to subigre

[2021-07-08 08:51] StefanWinterfeldtVitasystems opened #366 "FHIR-Bridge version 1.2.0 fails to authenticate with EHRBase using basic auth"
## Steps to reproduce ##

I have a Kubernetes namespace with an instance of EHRBase (0.16.5) and FHIR-Bridge (1.1.1). FHIR-Bridge is configured to authenticate with EHRBase using basic auth, it works as expected.
When I upgrade the version of FHIR-Bridge to 1.2.0 (changing nothing else), FHIR-Bridge fails to start.
Rolling back the version of FHIR-Bridge to 1.1.1 makes everything work again.

## A

[2021-07-08 10:23] subigre commented on #366
Hi @StefanWinterfeldtVitasystems
I apologize because I did some changes in the configuration file when I have added support for OAuth2 (https://github.com/ehrbase/fhir-bridge/issues/349) but I forgot to inform you 😢

The following environment variables:
[code]
must be updated to:
[code]

[2021-07-08 12:12] SevKohler opened #369 "Clinical Frailty Template has to be altered"
The cardinality is wrong. Code already is updated, but the opt has to be regenerated when the Template is done.

[2021-07-08 13:29] SevKohler opened #371 "regenerate Gecco Laborbefund because of changes in the Template"
Missing code 27811-9 was added to the template

[2021-07-08 13:42] #340 closed, assigned to SevKohler

[2021-07-09 10:48] StefanWinterfeldtVitasystems commented on #366
Hi @subigre,
that works for me, FHIR-Bridge is able to authenticate again, thanks!

[2021-07-09 10:48] #366 closed, assigned to subigre

[2021-07-09 12:36] SevKohler opened #376 "Create missing tests"
ObservationIT contains some generic tests we have to put this into own test classes and test them accordingly.

[2021-07-12 12:20] subigre opened #384 "Enable Spring Boot Actuator endpoints: Loggers and Logfile"
## Background ##

Enable Spring Boot Actuator endpoints: Loggers and Logfile

[2021-07-12 19:08] #384 closed, assigned to subigre

[2021-07-14 13:12] SevKohler commented on #217
@subigre

[2021-07-14 13:12] SevKohler commented on #190
@subigre

[2021-07-14 13:12] SevKohler commented on #106
@subigre

[2021-07-14 13:13] SevKohler commented on #193
@subigre

[2021-07-14 13:13] SevKohler commented on #194
@subigre

[2021-07-14 13:13] SevKohler commented on #261
@subigre

[2021-07-14 14:06] SevKohler opened #390 "regenerate OPT of GeccoDiagnose"

[2021-07-14 16:00] subigre commented on #106
I deleted these tests as they are not valid anymore.
`category`, `dataAbsentReason `and `valueCodeableConcept` are optional according to the last profile: https://simplifier.net/forschungsnetzcovid-19/patientinicu.
In addition there is no constraint regarding `system` and `code `values

[2021-07-14 16:11] subigre commented on #193
These tests are currently enabled (and valid) on `develop` branch:
- https://5447-305756851-gh.circle-artifacts.com/0/00_robot_results/OBSERVATION/log.html#s1-s1-t69
- https://5447-305756851-gh.circle-artifacts.com/0/00_robot_results/OBSERVATION/log.html#s1-s1-t70
- https://5447-305756851-gh.circle-artifacts.com/0/00_robot_results/OBSERVATION/log.html#s1-s1-t71
- https://5447-305756851-gh.circle-a

[2021-07-14 16:11] #193 closed, assigned to ppazos, subigre

[2021-07-14 17:06] subigre commented on #261
The exception has been fixed with refactoring.
I deleted the following tests as thery were not valid according tothe profile:
1. $.severity.coding[0].code, missing, 422
2. $.severity.coding[0].code, http://foobar.de, 422
3. $.severity.coding[0].code, ${randstring}, 422
4. $.severity.coding[0].system, missing, 422
5. $.severity.coding[0].system, http://foobar.de, 422

[2021-07-14 17:11] wlad commented on #261
@SevKohler

I'm assigned as reviewer of linked PR. Will check it there :)

[2021-07-15 12:34] #217 closed, assigned to ppazos, subigre

[2021-07-15 13:26] #190 closed, assigned to subigre

[2021-07-15 13:42] wlad commented on #106
I'd like @ppazos to confirm this, cause I can't evaluate it.

[2021-07-15 14:44] #194 closed, assigned to ppazos, subigre

[2021-07-15 15:19] SevKohler opened #399 "After Template update clean up and refactor Patient mapping"
I produced some smells, due to miss modelling of the template that needs to be fixed.
As part of this, the tests need to be updated too.

[2021-07-16 07:53] subigre opened #402 "Unexpected java.lang.NullPointerException in class ProvideResourceAuditHandler"
## Steps to reproduce ##

Issue reported by @wlad 👍

Since the refactoring regarding Camel route definition and processing the class `ProvideResourceAuditHandler` throws an NullPointerException when the `AuditEvent` resource is generated.

## Actual result ##

[code]

## Expected result ##

`AuditEvent` is generated even if the data is missing from the Camel exchange.

## Success criteria ##

- [

[2021-07-16 08:26] subigre commented on #152
Search tests cases are enabled

Command:
[code]

Output:
[code]

[2021-07-16 11:53] wulffant opened #404 "Regenerate GECCO_Impfstatus because of changes in the Template"
Impfstatus has been updated: Value Set for "Impfstoff" enhanced with values for COVID-19 vaccinations.
"Imfpung gegen" still relies on https://simplifier.net/im1x0/kbvvsmiovaccinationtargetdisease (no updates, thats why no further codes for "COVID-19 disease" or other are available).

OET: http://88.198.146.13/ckm/templates/1246.169.1187
OPT: https://ckm.highmed.org/ckm/document?cid=1246.159.90

[2021-07-18 23:14] ppazos commented on #261
@subigre @wlad what I understand from this test, the idea was to test incorrect values for Condition.severity related to the SymptomsCovid19-profile.xml that is in the FHIR bridge repo.

The issue is not really the wrong value, but that there is an exception because the value is wrong.

If there is an exception, it means the FHIR validation might be failing, since these errors should be catched by

[2021-07-19 12:34] subigre commented on #261
@ppazos, @wlad and @SevKohler

I did not delete the entire test case but only checks that are "incorrects" which means:
[code]
According to:
- https://simplifier.net/ForschungsnetzCovid-19/SymptomsCovid19-profile/
- https://simplifier.net/packages/hl7.fhir.r4.core/4.0.1/files/81979:

The following elements are optionals (`0..1`):
- `severity`
- `severity.coding[].system`
- `severity.coding[].code`

[2021-07-19 22:39] ppazos commented on #261
thank you @subigre I didn't know the code system accepted other values not defined there. For the optional fields maybe we can have one test for empty value and another for a value not in the code system, and change the expected status to 201.

[2021-07-21 21:58] ppazos commented on #106
@wlad the solution proposed by @subigre is correct, I guess the profile was updated and some constraints changed since this was raised.

[2021-07-23 07:15] #106 closed, assigned to ppazos, subigre

[2021-07-23 07:17] #261 closed, assigned to ppazos, subigre

[2021-07-23 07:21] #152 closed, assigned to ppazos, birgerhaarbrandt, subigre, jsachau

[2021-07-23 07:27] subigre opened #408 "Implement search operation using openEHR instead of FHIR Bridge local database"
## Background ##

Implement search operation using openEHR instead of FHIR Bridge local database

## Acceptance criteria ##

_These are the functional requirements for this story. Add all steps to be implemented to fulfill the requirements._

- [ ] Item 1

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updated documentation (Javadoc and Sp

[2021-07-23 07:28] subigre commented on #408
@ppazos I create an issue to have a number for the new branch and future release note.

[2021-07-23 11:44] #402 closed, assigned to subigre

[2021-07-26 14:36] subigre opened #409 "Improve pagination in search operation"
## Background ##

The current pagination currently returns only 10 results per page.
In addition, pagination links (first, prev, next, last)  are currently missing from the response returned by the application.

## Acceptance criteria ##

- [x] Page size is configurable using an application properties
- [ ] Pagination links (first, prev, next, last) are generated/populated in the response.

## Suc

[2021-07-28 12:28] subigre opened #412 "Upgrade FHIR Bridge according to the last openEHR_SDK version"
## Background ##

Last version of the openEHR_SDK has some impacts to the FHIR Bridge.
For example, URL for creating/updating templates has changed

## Expected output ##

FHIR Bridge initializes the openEHR templates successfully.

## Success criteria ##

- [ ] Output has been reviewed or presented and has been approved
- [ ] Documentation has been updated (Sphinx and Javadoc if applicable)

[2021-07-28 12:49] SevKohler opened #413 "fix status codes"
many of the StatusCode mappings map german names against the fhir status which can be german OR englisch. This needs to be fixed.

Also check if all status codes are validly mapped, e.g. unknown needs to mapped as an nullflavour

[2021-07-28 13:47] SevKohler opened #415 "Refactor MII Prozedure"
@NormanWeinert can you maybe help us here and refactor that [one](https://github.com/ehrbase/fhir-bridge/tree/develop/src/main/java/org/ehrbase/fhirbridge/ehr/converter/specific/procedure), since its part of the MII mappings and important for you guys too, i guess ?
You already know what to do and what things are important now after (pretty sure soon done) viro befund.
If you guys dont need it i w

[2021-07-28 14:27] #412 closed, assigned to subigre

[2021-07-29 08:50] NormanWeinert commented on #415
I do not know if MII Prozedure is needed. I will gain intel on that first.

[2021-07-30 15:16] subigre opened #421 "Upgrade IPF to 4.1.x"
Upgrade IPF to 4.1.x

[2021-08-02 10:06] SevKohler opened #423 "Implement reflection for effective date time smoking status"
## Background ##

Describe the task and the research goal that is expected after this issue has been moved to done

## Expected output ##

Add items here or describe what is expected as the result of the task, i.e. a wiki entry, a conceptual document or a configured tool that executes recurring tasks.

- [ ] Item1

## Success criteria ##

- [ ] Output has been reviewed or presented and has been ap

[2021-08-04 14:51] SevKohler opened #424 "When the PulsoxymetrieObservationConverter returns an empyt obs an infinite loop is executed"
I already fixed this by adding a Nullflavour instead of nothing, also the modelers will change the value in order to support the data absent reason.
Nevertheless, an infinite loop should not happen here, instead an error or else is to be returned when mapping this mapping.
The fhir bridge is just executing a loop which you will see when debuging, im not sure if this is an error of ehrbase or the S

[2021-08-04 14:53] SevKohler commented on #424
@subigre see [here](https://github.com/ehrbase/fhir-bridge/blob/b269393a429bb6bb13ea6c4549382767f71cee04/src/main/java/org/ehrbase/fhirbridge/ehr/converter/specific/pulseoximetry/PulsoxymetrieObservationConverter.java#L16)

[2021-08-11 12:18] SevKohler opened #427 "Check that the value.code is mapped and not the value.unit in all mappings"

[2021-08-16 13:46] #415 closed, assigned to NormanWeinert

[2021-08-21 19:21] birgerhaarbrandt opened #435 "Consent Resources appears to not have been added"
## Steps to reproduce ##

When sending data to the FHIR Bridge (as part of the DNR statement), the payload is rejected due to missing support for Consent Resource which the DNR profiles uses: https://simplifier.net/forschungsnetzcovid-19/donotresuscitateorder

## Actual result ##

Resource is rejected

## Expected result ##

Should be accepted and correctly mapped to openEHR template

## Success c

[2021-08-23 10:03] #435 closed, assigned to SevKohler, subigre

[2021-08-24 07:47] subigre opened #437 "Upgrade HAPI FHIR to 5.4.x"
Upgrade HAPI FHIR to 5.4.x

[2021-08-25 10:06] subigre opened #439 "Upgrade Spring Boot to 2.5.4"
Upgrade Spring Boot to 2.5.4

[2021-08-27 06:50] subigre opened #442 "FHIR Bridge code refactoring proposals/ideas"
## Background ##

The current FHIR Bridge codebase is becoming bigger and it is sometimes hard to organize/find/maintain the code.
In addition, we use a lot of third-party librairies and the dependency management is becoming very hard.

The following non-exhaustive list contains some ideas/proposals for the next code refactoring in order to improve the development, testing and maintenance.

### Ma

[2021-08-27 11:26] SevKohler commented on #442
In addition:
1. Adding a Fileless test case support for the mapping tests.
2. Splitting converters into CODEX and HIGHMED converters
3. cleaning up the tests files (lots of duplicates)
4. updating the robot tests (since thats why these are duplicated)
5. Updating Postman
6. clean up of dead imports

[2021-08-27 12:30] #427 closed, assigned to SevKohler

[2021-08-27 12:30] #413 closed, assigned to SevKohler

[2021-08-27 12:31] #369 closed, assigned to SevKohler

[2021-08-27 12:31] #390 closed, assigned to SevKohler

[2021-08-27 12:31] #371 closed, assigned to SevKohler

[2021-08-27 12:31] SevKohler commented on #376
@MDSchulze takes care of this already.

[2021-08-27 12:32] #423 closed, assigned to nobody

[2021-09-01 08:46] subigre commented on #442
- Improve exception handlind using [Exception Clause](https://camel.apache.org/manual/latest/exception-clause.html) and [Error Handler](https://camel.apache.org/manual/latest/error-handler.html)
- Google coding style or other (but common)

[2021-09-02 14:12] subigre commented on #442
- Relation between `subject.identifier` <-> PatientId <-> EHR ID

[2021-09-09 09:01] SevKohler commented on #442
@subigre pls no google coding style, i would prefer the one we have currrently (at least for the tabulators), or do you have any other preferences ?

[2021-09-09 10:26] SevKohler opened #456 "Add Performer and HealthCareFacility Mapping to generic classes"

[2021-09-09 22:55] ppazos commented on #408
@wlad we need to be able to run different sets of tests in the CI depending on the config value of 'search-mode'

https://github.com/ehrbase/fhir-bridge/blob/feature/408_search_openehr/src/main/resources/application.yml#L19

If search-mode="openehr" the FindPatientTransactionIT should search in EHRBASE, otherwise, it should search in the local db.

[2021-09-13 10:36] #456 closed, assigned to subigre

[2021-09-13 11:10] NormanWeinert opened #463 "Fhir Bridge crashes on startup: "Error creating bean with name 'deleteObjectProcessor' defined in URL""
I installed fhir-bridge via "mvn clean install" after cloning the repository.

Starting fhir-bridge with "java -jar target/fhir-bridge-1.3.0-SNAPSHOT.jar" results in the following error:

[code]

It seems like the error results in a class added in the following recent commit: https://github.com/ehrbase/fhir-bridge/commit/d1105eeae73b994b4dfaa44ea59fde3bc35a17d1
The class being "DeleteObjectProcess

[2021-09-13 13:34] subigre commented on #463
Hi @NormanWeinert, how did you start EHRbase and the database? Did you use the `docker-compose-light.yml` file?

[2021-09-13 13:55] birgerhaarbrandt commented on #463
@subigre I tried myself and this might be related to the MinIO. Is it possible to remove the need to connect to MinIO using the config file?

[2021-09-13 14:05] NormanWeinert commented on #463
I started EHRbase with "java -jar application/target/application-0.16.5.jar" as usual.

I set up the database back when I started with the fhir-bridge through running "cloud-db-setup.sql" with psql and getting the output:

CREATE DATABASE
GRANT
You are now connected to database "ehrbase" as user "postgres".
CREATE SCHEMA
CREATE SCHEMA
CREATE EXTENSION
CREATE EXTENSION
ALTER DATABASE
GRANT
CREATE F

[2021-09-13 14:08] subigre commented on #463
@birgerhaarbrandt You are right, it is related to MinIO because the FHIR Bridge tries to initialize the MinioClient during startup process.

I haved  updated the Docker Compose files to start MinIO as a container:
[code]

[2021-09-13 15:37] subigre opened #465 "Create a conditional configuration to start the application without MinIO and DocumentReference support"
## Background ##

Create a conditional configuration to start the application without MinIO and DocumentReference support.

## Acceptance criteria ##

The application can start without MinIO based on configuration file.

## Success criteria ##

- [ ] Review / Merge request approved (P2P session)
- [ ] Unit tests passed
- [ ] Updated documentation (Javadoc and Sphinx)
- [ ] Acceptance criteria fulf

[2021-09-15 10:43] SevKohler commented on #442
¨WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.javers.common.reflection.JaversMember (file:/home/severink/.m2/repository/org/javers/javers-core/5.14.0/javers-core-5.14.0.jar) to field java.lang.Enum.name
WARNING: Please consider reporting this to the maintainers of org.javers.common.reflection.JaversMember
WARNING: Use --illegal-access=warn

[2021-09-15 11:24] #465 closed, assigned to subigre

[2021-09-15 12:13] NormanWeinert commented on #463
Due to the recent commit I am able to install and start FHIR Bridge without problems anymore.
Thanks for addressing this!

[2021-09-15 12:13] #463 closed, assigned to subigre

[2021-09-15 12:32] subigre commented on #463
You're welcome 😃

[2021-09-16 12:40] SevKohler commented on #442
What is with the JUNIT test that tests coding codes (terminology server), i think we can delete those.

[2021-09-24 14:44] CzarMich opened #483 "Docker quick start not completing image download."
##Error:
Pulling logstash (logstash:7.7.0)...
7.7.0: Pulling from library/logstash
524b0c1e57f8: Already exists
676f059574bb: Pull complete
e974e49ddee7: Pull complete
3423b075bb4a: Pull complete
e01d6bcefef9: Pull complete
5859d91fec22: Pull complete
ab4d03277214: Pull complete
4f51455693d8: Pull complete
8474cc37cb13: Pull complete
d98f382646ef: Pull complete
0ac989b6ae1c: Pull complete
Digest:

[2021-09-27 14:49] paulolaup commented on #483
If I recall correctly u have to change the entry in the YML-File. You need :next instead of :latest. I was able to fix the issue that way.

[2021-09-27 15:35] CzarMich commented on #483
Great. worked.
Thanks

[2021-09-27 15:35] #483 closed, assigned to nobody

[2021-10-05 09:05] #439 closed, assigned to subigre

[2021-10-05 10:26] subigre commented on #442
- Use next final release of openEHR_SDK instead of `develop-SNAPSHOT`

[2021-10-12 18:56] SevKohler commented on #442
Add exception catcher for timeconverter, since the bride does not show if an error occurs

[2021-10-13 09:46] SevKohler commented on #442
provide script to autoupdate opts and profiles via just entering the urls
autogeneration of paragon files as script

[2021-10-13 10:29] #421 closed, assigned to subigre

[2021-10-13 10:29] #437 closed, assigned to nobody

[2021-10-18 12:04] subigre opened #507 "FHIR coding autocompletion"
TODO

[2021-10-20 07:22] #275 closed, assigned to SevKohler

[2021-10-20 07:23] #274 closed, assigned to SevKohler

[2021-10-20 07:28] #404 closed, assigned to MDSchulze

[2021-10-20 09:53] subigre commented on #442
Converters used in conversion API should always:
- be stateless
- throw a ConversionException (when the FHIR resource could not be processed)

[2021-10-20 10:30] CzarMich opened #514 "ERROR: APPLICATION FAILED TO START: &&. Error creating bean with name 'templateInitializer'"
I encounter the issues below in connecting FHIR-Bridge to Better Platform.

### ##### I have two error scenarios that are occurring.######
**1st. With Minio uncommented, configured and running**

Error log: On running;  java -jar fhir-bridge-1.4.0-SNAPSHOT.jar

  .   ____          _            __ _ _
 /\\ / ___'_ __ _ _(_)_ __  __ _ \ \ \ \
( ( )\___ | '_ | '_| | '_ \/ _` | \ \ \ \
 \\/  ___)| |_)

[2021-10-20 10:54] subigre opened #515 "Generic status converter for DiagnosticReport"
As an improvement, create generic status converter for DiagnosticReport

[2021-10-20 11:04] subigre opened #516 "Unexpected error occured while creating a resource with non existing Patient"
## Steps to reproduce ##

Create a resource with a reference to a non existing patient like:
[code]

## Actual result ##
[code]

Logfile
[code]

## Expected result ##

The FHIR Bridge must reject the resource if the subject/patient is unknown

[2021-10-20 11:28] subigre commented on #514
Dear @CzarMich, thank you for your message.

I just fixed the issue regarding the classpath and `okhttp` dependency version.

Regarding the second point, the `NullPointerException` comes from [openEHR_SDK](https://github.com/ehrbase/openEHR_SDK) and the final line of following method:
[code]

However, I am wondering how did you configured your FHIR Bridge?
I just tried to start the FHIR Bridge usi

[2021-10-20 11:47] CzarMich commented on #514
Hi @subigre,
My FHIR Bridge is configured just like yours. And I am using Better 3.0.19
.......

fhir-bridge:
  fhir:
    endpoints:
      DocumentReference: false
  minio:
    url: http://xxxxx:9000
    access-key: xxxx
    secret-key: xxxxx
    bucket-name: xxxx

  ehrbase:
    base-url: http://xxxxx:8081/
    security:
      type: basic
      user:
        name: YYYY
        password: xxxx

[2021-10-20 13:41] subigre commented on #514
I do not understand the issue with your configuration file 😞

Here is my entire local configuration:

[code]

I do not know the Better implementation but is the url correct? There is no context path by default?

[2021-10-20 15:02] CzarMich commented on #514
Hi @subigre, here is my entire application.yml file.
(Just wondering though, could the issue be resulting from the demographics: URL? I am just seeing this now at the bottom of the file. Probably you have some special way authentication to enable access to this URL? Or I need to point to my Patients (MPI)? etc?

The URL is right because in scenario two, FHIR -Bridge attempts to create template 'Kö

[2021-10-20 15:40] subigre commented on #514
No, the demographic URL is used if you want to use OAuth2 and SMART on FHIR.

In the second scenario, the exception occurs when the FHIR Bridge tries to upload the template `Körpergröße`...
I think that the issue is related to how we build the url of the openEHR REST endpoint in the openEHR_SDK.
EHRbase and EhrScape are using the same path `/rest/openehr/v1/` but I do not know about Better 3.0.19.

[2021-10-20 15:50] CzarMich commented on #514
http://000.000.000.000:8081/rest/openehr/v1/definition/template/adl1.4

I have a response on accessing the above. (Copied and pasted the way it is presented in the browser)

See below:

[code]

[2021-10-20 19:31] subigre commented on #514
I do not understand why it fails if the endpoint is using the same url  🤔

Could you please try to post the template using a REST client like Postman and tell me what is returned by the server in the `ETag` HTTP header  of the response?

`POST http://000.000.000.000:8081/rest/openehr/v1/definition/template/adl1.4`

HTTP Headers:
- `Content-Type: application/xml`
- `Prefer: return=representation`

[2021-10-20 20:23] CzarMich commented on #514
POST to http://000.000.000.000:8081/rest/openehr/v1/definition/template/adl1.4 with POSTMAN:
#Server Response;

Status: 201 Created
Date: Wed, 20 Oct 2021 20:20:10 GMT
Vary: Origin
Vary: Access-Control-Request-Method
Vary: Access-Control-Request-Headers
Location: http://000.000.000.000:8081/rest/openehr/v1/definition/template/adl1.4/K%C3%B6rpergr%C3%B6%C3%9Fe
Content-Length: 0

[2021-10-20 20:36] CzarMich commented on #514
Checking via the admin Interface;
I have two Körpergröße templates an old one created by FHIR Bridge and the new one I just pushed. I am believing that FHIR bridge is creating the template while using UTF-8 encoding, which is resulting into some name conflicts due to the umlaut (ö,ü,ä). The last one I just POSTed is using ISO-8859-9 or a similar encoding.
| Körpergröße (TDS / WTS) |  |  and   |  

[2021-10-20 21:01] #516 closed, assigned to subigre

[2021-10-20 21:14] subigre commented on #514
It seems that there is no `Etag` header in the response returned by Better server.

I just checked and according to the [specifications](https://specifications.openehr.org/releases/ITS-REST/latest/definitions.html), this header is optional:

So, this issue has to be fixed in the [ehrbase/openEHR_SDK](https://github.com/ehrbase/openEHR_SDK)

[2021-10-20 21:18] CzarMich commented on #514
Cool. I guess we have come to a close on this. (For now.). Should I close or until it is fixed via the ehrbase/openEHR_SDK?

[2021-10-20 21:34] subigre commented on #514
Issue created in openEHR_SDK repo: https://github.com/ehrbase/openEHR_SDK/issues/272

[2021-10-20 21:34] #514 closed, assigned to subigre

[2021-10-20 21:51] #507 closed, assigned to subigre

[2021-10-21 15:24] #515 closed, assigned to SevKohler

[2021-10-21 17:43] CzarMich opened #521 "Returned FHIR Bundle contains "0" search results"
On connecting fhir-bridge to Better platform,

I tried a generic search for condition, expecting anything "WHERE c/name/value='Diagnose'" using the call below;
"http://localhost:8888/fhir-bridge/fhir/Condition?"

However, the server responds with an empty Searchset Bundle.

 {
  "resourceType": "Bundle",
  "id": "f3b42a1b-6950-4cc8-8b36-d6265bbec2dc",
  "meta": {
    "lastUpdated": "2021-10-21T19:

[2021-10-21 18:03] SevKohler commented on #521
The bridge cannot search resources that where created within the openEHR platform. It can only search everything that was mapped using the bridge itself, since we just hold these resources within the bridge (the bridge runs a HAPI Server). Did you POST a Condition before ?

[2021-10-21 18:14] CzarMich commented on #521
Definitely some illustrative help needed at this stage. :)  And I have not POST'ed anything yet with FHIR-Bridge or done any mapping yet. Any resource available on how mapping is performed via FHIR-Bridge? since we could  all be having different mapping procedures or fields but all leading to one same goal. :

@birgerhaarbrandt  had just edited asking for a resource :)

[2021-10-21 18:19] birgerhaarbrandt commented on #521
There is actually a new part that maps from a FHIR Search to an AQL an then on a result set. This is currently only for the "Kerndatensatz" and it only accepts count queries.

It would actually be great if you can check this out as I have not been able to review this, yet: https://github.com/ehrbase/fhir-bridge/pull/475

You can approach @ppazos for any questions regarding this.

[2021-10-21 18:56] SevKohler commented on #521
@CzarMich if you need any help with the PR etc. let me know.

[2021-10-21 19:03] CzarMich commented on #521
Yes, @SevKohler  help is definitely needed. just sent you an 📧  .

[2021-10-21 21:09] ppazos commented on #521
@CzarMich @SevKohler on https://github.com/ehrbase/fhir-bridge/pull/475 there is the functionality to search using AQL, mainly to count, some resources, but was focused on counting patients that have some associated resources.

In the Insomnia file included in the PR, there are some tests cases for that implementation.

[2021-10-25 13:21] subigre opened #523 "Upgrade openEHR_SDK dependency version"

[2021-10-25 18:19] ppazos commented on #408
@subigre @wlad @birgerhaarbrandt there is a PR for this issue https://github.com/ehrbase/fhir-bridge/pull/475

Though the CI should not run the current tests when the configuration for the search-mode is "openehr"

[2021-11-22 14:46] subigre opened #525 "Remove validation constraint on identifier.type from Patient profile"
Remove validation constraint on identifier.type from Patient profile: https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/Patient

[2021-11-22 16:23] #525 closed, assigned to nobody

[2021-12-14 12:15] CzarMich opened #528 "Docker RUN comman error 404"
I needed a little help with running the FHIR-Bridge Docker file.

I noticed that in the ENVIRONMENT , there is no configuration for EHRBASE USER. (user name and password).

$ docker run -p 8888:8888 -e "FHIR_BRIDGE_EHRBASE_BASE_URL=http://172.17.0.1:8080/ehrbase/rest/openehr/v1/" \
             --name=fhir-bridge ehrbase/fhir-bridge

Since I am not using EHRBASE but BETTER, I tried adding the fiel

[2021-12-21 13:55] fergusleen opened #529 "src/test/resources/Insomnia_2020-07-27.json does not exist"
## Steps to reproduce ##

Following instructions to run Insomnia tests I get a 404 for https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/resources/Insomnia_2020-07-27.json and it does not exist under src/test/resources

## Actual result ##

404

## Expected result ##

Insomnia_2020-07-27.json

## Success criteria ##

- [ ] The defect has been fixed

[2021-12-21 13:57] fergusleen commented on #529
I have found the manual-tests using VSCode. It may be a case of documentation needing updating?

[2022-01-10 16:02] SevKohler commented on #529
Yeah unfortunatly we are all super busy currently :(
We use the postman API (example  requests are in https://github.com/ehrbase/fhir-bridge/tree/develop/config/postman ), insomnia is deprecated for this project.
Unfortunatly also some of the postman requests are deprecated, anyhow the unit tests use up to date files you can use them for testing.

[2022-01-12 10:03] #528 closed, assigned to nobody

[2022-01-17 14:14] CzarMich opened #530 "Maven build fails: Jitpack Dependencies not resolving/downloading whether behind corperate Proxy or not."
On trying to Move to infrastructure behind proxy from Local machine, I  am not able to get Jitpack dependencies.
Any help?

I cannot seem to get past

"Downloading from central: https://repo.maven.apache.org/maven2/org/springframework/boot/spring-boot-dependencies/2.5.5/spring-boot-dependencies-2.5.5.pom".  (on VM behind proxy)

And after installation of fresh VM; with only JDK and Maven,
I get th

[2022-01-19 00:36] CzarMich opened #531 "Docker image error: 401 on correct Password and user."
I passed my Variables as;

`export password='SECURITY_AUTHPASSWORD=password'
 export authtype='SECURITY_AUTHTYPE=BASIC'
 export user='SECURITY_AUTHUSER=admin'
 export url='FHIR_BRIDGE_EHRBASE_BASE_URL=http://IP:8081/'
 export image='ehrbase/fhir-bridge:1.4.2'
`
 After which I run
`docker run -p 8888:8888 -e $url -e $authtype -e $user -e $password --name=fhirBridge $image`

But  with various change

[2022-01-25 16:54] CzarMich commented on #530
Issue is in the pom.xml file.
Had to keep activating and deactivate jitpack.io repository  in order to get over certain dependencies.

`    <repositories>
      <repository>
         <id>jitpack.io</id>
         <url>https://jitpack.io</url>
     </repository>
  </repositories>
`

I changed the SDK version as well after initial run to the value that was in the .m2 repository.

`        <dependency

[2022-01-25 16:54] #530 closed, assigned to nobody

[2022-01-25 20:12] CzarMich opened #533 "Creating Patient error: expected: //fhir.hl7.org/ValueSet/$expand, actual: http://snomed.info/sct\"]"
I managed to get V1.4.2 running with BETTER EHR.   But Creating Patient is not responding as expected. @birgerhaarbrandt

When I try to CREATE/post the current sample patient via Postman; I end up with the error:

[code]

I was thinking of editing the template in the EHR to rather: "http://snomed.info/sct\".
Any suggestions?

This is how it looks like on the opt/ template in the ehr server file fo

[2022-01-26 13:25] CzarMich opened #534 "Creating Patient with least amount of identifying data. (Privacy in mind)"
So, since we are working with research data of actual patients. we leave out some patient identifying information and store only a few that we need.

Could it possible that  we can create a patient with the least amount of data. E.g Creating a patient with only source system identifier.  Or source system ID and only Date of Birth.

Thanks.

Michael.

[2022-01-26 13:25] SevKohler commented on #533
can you provide me the fhir resource ?

[2022-01-26 13:30] CzarMich commented on #533
Attached.
[POLAR_Testdaten_UKB.zip](https://github.com/ehrbase/fhir-bridge/files/7942058/POLAR_Testdaten_UKB.zip)

[2022-01-26 13:41] SevKohler commented on #534
Sure one can always enter nothing if required afaik.
Did you already tried it.

[2022-01-26 13:48] SevKohler commented on #533
First of all thats super a lot of resources how am i supposed to debug which one does not work ?
Secondly the bundles ocntain ressources that are not supported for the NUM CODEX and therefore was never mapped.
For all supported profiles check the [Profile.java](https://github.com/ehrbase/fhir-bridge/blob/develop/src/main/java/org/ehrbase/fhirbridge/fhir/common/Profile.java) class.
If you want me t

[2022-01-26 13:56] CzarMich commented on #533
Here is a test patient that you can use. This is the resource producing the mentioned error:  Sources; Postman Collections

[code]

[2022-01-26 14:04] SevKohler commented on #533
Anyhow currently my term server does not work and requires reconfig i asked @subigre to help me with that.
With a newer version now the identifier requires a type, you need to add it.
This does not explain the error, but you should at it.
[code]

[2022-01-26 14:13] CzarMich commented on #533
Identifier type added.

[2022-01-26 14:44] CzarMich commented on #533
So I deleted the extension:     {
      "url": "https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/ethnic-group",
      "valueCoding": {
        "system": "http://snomed.info/sct",
        "code": "186019001",
        "display": "Other ethnic, mixed origin"
      }
    }

  Pushed to server and Patient was created.  I believe this can be used to close/solve the issue  #534

  I

[2022-01-26 14:47] CzarMich commented on #534
Closed with #533

[2022-01-26 14:47] #534 closed, assigned to nobody

[2022-01-26 14:50] subigre commented on #533
Dear @CzarMich

First of all, I apologize for the late reply but I did not pay attention to this repository since a while as I am now working on EHRbase only.

Based on the initial error and the web template. I think that the issue comes from the Better server.

Could you please try the following (even if it is completely wrong):
[code]
by
[code]

[2022-01-27 03:31] CzarMich commented on #533
Hi @subigre , I had tried this already, I do get the error below;

[code]

[2022-01-27 08:44] subigre commented on #533
Ah right, this one comes from the FHIR Bridge and HAPI FHIR validation API 😢

[2022-01-27 15:16] CzarMich opened #535 "FHIR Bundle import for Patient and Condition."
1. At the moment FHIR Bundle exports for profile PATIENT is producing a non compliant error, which makes me think this has not yet been implemented, but good to have. I have placed the error  reproduced below the sample bundle.
As for profile CONDITION, the error generated is a validation error, which I have  also placed below the sample transaction bundle for condition. I will be glad for any hel

[2022-01-27 17:24] SevKohler commented on #535
Will take a look as soon as i got time.

[2022-01-28 14:06] subigre commented on #535
Regarding the first issue, the current implementation of the FHIR Bridge has a limitation regarding `Bundle` and it expects and supports only 2 types:
- DiagnosticReportLab
- Blood Gas Panel

I already thought about improving the code to support any bundle that contains resources and profiles supported by the FHIR Bridge. There is not so much to do but I haven't found the time yet.

Regarding the

[2022-01-30 14:39] CzarMich commented on #535
Hi @subigre , yes that is true, but as you can see,  the cardinality  for display is 0..1, which means it is optional and not mandatory as code or system. So I expected this not to raise and flags.

[code]

Yes, for the bundles, it will surely be good to have the main resources& profiles at least being supported as bundles too: Condition, Patient, Procedure and medication/medication statement.

[2022-01-31 00:09] SevKohler commented on #535
You have to turn on either a Terminology server that automatically adds this information (as we programmed) or add the display since openEHR DVCodedText requires it.
You can configure the TermServer in the application.yml

I agree anyhow its an opensource project neither I or @subigre are currently working on the bridge, feel free to add it its open, we can surely do the code reviews. We will stil

[2022-01-31 00:27] #529 closed, assigned to nobody

[2022-01-31 07:34] subigre commented on #535
I wanted to say that both mappings are mandatory,  SNOMED CT and HL7:

Regarding `display `attribute, @SevKohler is right. This optional in FHIR but mandatory in openEHR so either you use a terminology server that allow you to populate the missing display, either you have to set it by hand.

[2022-01-31 12:18] SevKohler opened #537 "CI is not working currently"
## Steps to reproduce ##

CI is not working due to a db config bug.

see https://app.circleci.com/jobs/github/ehrbase/fhir-bridge/9672?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

-> RAISE EXCEPTION 'Your database is not properly configured, IntervalStyle setting % must be change to iso_8601', current_value;

[2022-01-31 14:45] SevKohler commented on #537
@wlad

[2022-02-08 15:48] CzarMich opened #539 "Resource "Condition" throws an error if I include the Profile URL. And acts otherwise if I do not. (Terminology server is enabled)"
FHIR-Bridge throwing error if I include resourceType.meta.profile: "https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/complications-covid-19" I have the Terminology Server activated.

However if I exclude;
[code]

FHIR Bridge attempts to post the resource to the repository;
I have included the sample resource and the error.

Thanks

[code]

### **Error**

[code]

[2022-02-10 22:56] ejarte commented on #531
Hi,
I solved it by adding a file called .env.ehrbase
[code]

and added it to my docker-compose.yml

[code]

Hope this will solve you problem!

[2022-02-21 08:40] geloro94 commented on #530
Had the same issue if you landed here this is the solution that worked for me:

delete your m2/repository/com/github/jsonld-java folder.

Remove <repositories> <repository> <id>jitpack.io</id> <url>https://jitpack.io</url> </repository> </repositories> from the pom

Download the dependencies.

Add <repositories> <repository> <id>jitpack.io</id> <url>https://jitpack.io</url> </repository> </reposit

[2022-03-04 16:01] ppazos opened #540 "Build from develop not working"
## Steps to reproduce ##

$ mvn clean install

## Actual result ##

[ERROR] Failed to execute goal on project fhir-bridge: Could not resolve dependencies for project org.ehrbase.fhirbridge:fhir-bridge:jar:1.5.0-SNAPSHOT: Could not find artifact com.github.jsonld-java.jsonld-java:jsonld-java:bundle:0.13.3 in jitpack.io (https://jitpack.io) -> [Help 1]

I have deleted the dependency from the .m2 cac

[2022-06-01 11:39] #537 closed, assigned to nobody

[2022-06-17 15:45] hhund opened #562 "TrustStoreType property overrides value of KeyStoreType property"
The `SSLContextBuilder#setKeyStoreType` method is called twice, with the `KeyStoreType` property and with the `TrustStoreType` property. The later overriding the value of the former, if both are defined. FYI: The `SSLContextBuilder` class does not have an equivalent `setTrustStoreType` method.

https://github.com/ehrbase/fhir-bridge/blob/3260bf990bccf4c643beda1a8c6d229e69f9ddc8/src/main/java/org/e

[2022-06-18 22:38] hhund opened #563 "Coding.display Should Be Optional Even if No Terminology-Service Is Configured"
If no terminology-service is configured, Coding.display is currently mandatory.

https://github.com/ehrbase/fhir-bridge/blob/8a83d4b2860a7fc080970bdb8c7ed99e569e4c26/src/main/java/org/ehrbase/fhirbridge/ehr/converter/DvCodedTextParser.java#L57-L58

See also: https://github.com/ehrbase/fhir-bridge/blob/develop/src/test/java/org/ehrbase/fhirbridge/ehr/converter/DvCodedTextParserTest.java#L24-L31

Du

[2022-06-20 07:55] birgerhaarbrandt commented on #563
Hi @hhund,

the main issue is that openEHR requires the equivalent of a display code to provided mandatorily.  We can think about putting in some dummy values for the time being. I think there is also a case to the relax these constraints inside the openEHR RM, but this might take a time to get this part of the next release (if everyone agrees that this is a good idea). We can check some options i

[2022-06-20 09:45] hhund commented on #563
Ah, good to know. Relaxing the Rules of the FHIR Bridge and than fixing missing `display` values within EHRBase should work.
As a last resort (if both services don't have a terminology server configured) I would use the value from `code` for `display`.

[2022-06-21 15:09] af-pwo opened #568 "Unexpected 201 if component[x].code.coding[0].system in History of Travel is missing - CIRCLECI"
# path to test case
fhir-bridge/tests/robot/OBSERVATION/17_create_history_of_travel.robot

# Using test data from:
fhir-bridge/src/test/resources/Observation/create-history-of-travel.json

# Description
The fhir-bridge throws a 201 success status if the attribute component[x].code.coding[0].system is missing in the History of Travel resource. According to the simplifier profile, this attribute is

[2022-06-22 08:55] af-pwo commented on #568
![Uploading C9BEFD55-3B9A-4CB0-A531-77CF083C727E.jpeg…]()

[2022-06-22 08:55] af-pwo commented on #568
![C9BEFD55-3B9A-4CB0-A531-77CF083C727E](https://user-images.githubusercontent.com/71652736/174987905-8603610e-50db-44df-95ab-ed26e9df14b6.jpeg)

[2022-06-22 12:53] af-pwo opened #574 "500 Internal Server Error if a Diagnostic Report does not contain at least one Observation"
# path to test case
fhir-bridge/tests/robot/DIAGNOSTIC/01_create.robot

# Using test data from:
fhir-bridge/src/test/resources/DiagnosticReport/create-diagnosticReport-without-observation.json

# Description
It is mandatory to have at least one reference to another Observation in a diagnostic report, hence an error 422 needs to be thrown if a Diagnostic Report does not contain at least one Observa

[2022-06-25 17:50] hhund opened #578 "No converter available for Observation pH"
## Steps to reproduce ##
Create / Update Ressource with Profile `https://www.netzwerk-universitaetsmedizin.de/fhir/StructureDefinition/pH`

## Actual result ##
[code]
HTTP 422

## Expected result ##

HTTP 200 / 201

## Success criteria ##

- [ ] The defect has been fixed
- [ ] The defect is checked by an unit or an integration test (Robot)
- [ ] Merge Request approved
- [ ] Unit tests passed
- [ ]

[2022-06-25 17:52] hhund commented on #578
Please double check converter availability for the following NUM-CODEX profiles:
[code]

[2022-07-25 10:13] SevKohler commented on #578
@birgerhaarbrandt is this a mapping we want to support as single resource or just as part of the bloodgas Bundle.
As of now this is only supported as part of the Bloodgaspanel bundle.

[2022-08-11 08:50] taneroksuz opened #581 "Missing Profile „QuelleKlinischesBezugsdatum“ in the Components of FHIR Bridge (CRR)"
## Steps to reproduce ##

- We get error when we send our following FHIR bundle (test data) to CRR repostiory with BPE process (SendData):
[fhir-bundle.txt](https://github.com/ehrbase/fhir-bridge/files/9307230/fhir-bundle.txt)

- This error refers to following lines in our FHIR resources:
[code]

## Actual result ##

- BPE process provide the following commandline outputs when we send our FHIR Bun

[2022-08-11 13:08] hhund commented on #581
The FHIR Extension https://www.medizininformatik-initiative.de/fhir/core/modul-labor/StructureDefinition/QuelleKlinischesBezugsdatum is missing from the folder [src/main/resources/profiles](https://github.com/ehrbase/fhir-bridge/tree/master/src/main/resources/profiles) but needed for validating resources with the following profiles:
* [https://www.medizininformatik-initiative.de/fhir/core/modul-la

[2022-08-31 08:57] taneroksuz commented on #581
- In the meantime the CRR is updated. Unfortunately we get another error based on the same FHIR element as follows:
[code]

[2022-09-08 09:32] SevKohler commented on #581
@taneroksuz could you please provide me a more specific sample set of what is failing.
The bundle you provided has 10k lines.
I wont be able to debug that since i will have to split it manually which will take hours.
Could you guys provide me a more specific sample set so i can test and fix the bug, thanks.
PS: i had vacation now im back.

Branch: https://github.com/ehrbase/fhir-bridge/tree/fix_58

[2022-09-08 15:30] hhund commented on #581
@SevKohler This issue has been fixed in the version / fork running in the NUM-CODEX CRR pre prod and prod installations. You may want to talk to itos@vitagroup.ag

Also I would suggest reading up on how FHIR validation typically works and why snapshots of all StructureDefinitions referenced by a profile, against the validation is performed, are needed at runtime. In my earlier comment I listed all

[2022-09-08 18:46] SevKohler commented on #581
@hhund did you took a look who comitted most of the code for the fhir bridge ?
If you would assume that i dont know that, i think we would have much bigger problems then just simply forgetting to copy paste an extensions lol.
And yes it may occur again, but usually i added all extensions.

About who does what:
1. vita takes care about server CI prepod etc.
2. I (sadly its currently only me) take c

[2022-09-09 08:56] #581 closed, assigned to nobody

[2022-09-14 11:10] SevKohler commented on #578
@hhund Ph is not meant to be send as a single ressource and has to be provided as part of the Bloodgas bundle.
AFAIK this was communicated a year ago, otherwise write @birgerhaarbrandt a mail.

[2022-09-14 11:11] #578 closed, assigned to nobody

[2022-09-14 11:12] #563 closed, assigned to nobody